## 모델링

### 임직원

1. Gradient Boosting

In [ ]:
import pandas as pd
df_emp_y = pd.read_csv('전처리 완료된 임직원 데이터 깃허브 주소')
df_emp_y

In [ ]:
# X, y 나누기
X = df_emp_y.drop('prime_yn', axis=1)
y = df_emp_y['prime_yn']

In [ ]:
# train, valid 데이터셋 나누기
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, stratify=y, random_state=42)
print(X_train.shape, X_valid.shape, y_train.shape, y_valid.shape)

In [ ]:
# Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

# 모델 학습, 파라미터 조정
gradient_boosting = GradientBoostingClassifier('learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 1000)
gradient_boosting.fit(X_train, y_train)

# 예측
pred = gradient_boosting.predict(X_valid)

# 정확도
accuracy = accuracy_score(y_valid, pred)
print("Accuracy:", accuracy)

# 평가
cfreport = classification_report(y_valid, pred)
print("분류예측 레포트:\n", cfreport)

f1 = f1_score(y_valid, pred)
print("f1 score:\n", f1)

2. XGBoost

In [ ]:
# XGBoost
import xgboost as xgb

# 모델 학습, 파라미터 조정
xgb = xgb.XGBClassifier('learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 1000)
xgb.fit(X_train, y_train)

# 예측
pred = xgb.predict(X_valid)

# 정확도
accuracy = accuracy_score(y_valid, pred)
print("Accuracy:", accuracy)

# 평가
cfreport = classification_report(y_valid, pred)
print("분류예측 레포트:\n", cfreport)

f1 = f1_score(y_valid, pred)
print("f1 score:\n", f1)

### 비임직원
- XGBoost
- 설 연휴 제거한 데이터 성능이 더 좋음

In [ ]:
df_emp_n = pd.read_csv('전처리 완료된 비임직원 데이터 깃허브 주소')
df_emp_n

In [ ]:
# X, y 나누기
X = df_emp_n.drop('prime_yn', axis=1)
y = df_emp_n['prime_yn']

In [ ]:
# train, valid 데이터셋 나누기
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, stratify=y, random_state=42)
print(X_train.shape, X_valid.shape, y_train.shape, y_valid.shape)

In [ ]:
# XGBoost
import xgboost as xgb

# 모델 학습, 파라미터 조정
xgb = xgb.XGBClassifier('learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 1000)
xgb.fit(X_train, y_train)

# 예측
pred = xgb.predict(X_valid)

# 정확도
accuracy = accuracy_score(y_valid, pred)
print("Accuracy:", accuracy)

# 평가
cfreport = classification_report(y_valid, pred)
print("분류예측 레포트:\n", cfreport)

f1 = f1_score(y_valid, pred)
print("f1 score:\n", f1)

## 예측 - test data

### test data 전처리

In [26]:
import pandas as pd
test_data = pd.read_csv('https://raw.githubusercontent.com/ShineHop/BDA_CJTheMarket/main/tmk_bda_test.csv')
test_data

,Unnamed: 0,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,45875,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,M,4,N,20230101,NaN
1,45876,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,M,4,Y,20230101,NaN
2,45877,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,F,4,N,20230101,NaN
3,45878,20230102973798,비비고 소고기 미역국 500g,3,9.145375,F,3,N,20230102,NaN
4,45879,20230101965633,비비고 소고기 미역국 500g,2,8.613230,F,3,N,20230101,NaN
...,...,...,...,...,...,...,...,...,...,...
19655,65530,20230103986821,비비고 찐만두168g,1,7.930566,M,5,Y,20230103,NaN
19656,65531,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,F,3,Y,20230102,NaN
19657,65532,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,F,3,Y,20230103,NaN
19658,65533,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,M,4,N,20230104,NaN
19659,65534,20230103989710,고메 중화짬뽕 652g,1,8.462103,M,3,N,20230103,NaN

In [21]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19660 entries, 0 to 19659
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            19660 non-null  int64
 1   product_name   19660 non-null  object
 2   net_order_qty  19660 non-null  int64
 3   net_order_amt  19660 non-null  float64
 4   gender         19660 non-null  int64
 5   age_grp        19660 non-null  int64
 6   employee_yn    19660 non-null  int64
 7   order_date     19660 non-null  int64
 8   weekday        19660 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 1.4+ MB

In [27]:
# prime_yn, Unnamed: 0 컬럼 삭제
test_data.drop('Unnamed: 0', axis=1, inplace=True)
test_data.drop('prime_yn', axis=1, inplace=True)
test_data

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date
0,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,M,4,N,20230101
1,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,M,4,Y,20230101
2,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,F,4,N,20230101
3,20230102973798,비비고 소고기 미역국 500g,3,9.145375,F,3,N,20230102
4,20230101965633,비비고 소고기 미역국 500g,2,8.613230,F,3,N,20230101
...,...,...,...,...,...,...,...,...
19655,20230103986821,비비고 찐만두168g,1,7.930566,M,5,Y,20230103
19656,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,F,3,Y,20230102
19657,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,F,3,Y,20230103
19658,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,M,4,N,20230104
19659,20230103989710,고메 중화짬뽕 652g,1,8.462103,M,3,N,20230103

In [28]:
# 인코딩 수행

# 성별 인코딩 (1 = Male, 0 = Female)
map_gender = {'F':0, 'M':1}
test_data['gender'] = test_data['gender'].map(map_gender)

test_data

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date
0,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,1,4,N,20230101
1,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,1,4,Y,20230101
2,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,0,4,N,20230101
3,20230102973798,비비고 소고기 미역국 500g,3,9.145375,0,3,N,20230102
4,20230101965633,비비고 소고기 미역국 500g,2,8.613230,0,3,N,20230101
...,...,...,...,...,...,...,...,...
19655,20230103986821,비비고 찐만두168g,1,7.930566,1,5,Y,20230103
19656,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,0,3,Y,20230102
19657,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,0,3,Y,20230103
19658,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,1,4,N,20230104
19659,20230103989710,고메 중화짬뽕 652g,1,8.462103,1,3,N,20230103

In [29]:
# 임직원 여부 인코딩 (1 = 임직원, 0 = 일반)
map_employee = {'N':0, 'Y':1}
test_data['employee_yn'] = test_data['employee_yn'].map(map_employee)
test_data

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date
0,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,1,4,0,20230101
1,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,1,4,1,20230101
2,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,0,4,0,20230101
3,20230102973798,비비고 소고기 미역국 500g,3,9.145375,0,3,0,20230102
4,20230101965633,비비고 소고기 미역국 500g,2,8.613230,0,3,0,20230101
...,...,...,...,...,...,...,...,...
19655,20230103986821,비비고 찐만두168g,1,7.930566,1,5,1,20230103
19656,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,0,3,1,20230102
19657,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,0,3,1,20230103
19658,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,1,4,0,20230104
19659,20230103989710,고메 중화짬뽕 652g,1,8.462103,1,3,0,20230103

In [22]:
# 구매일자 인코딩 (1 = 평일, 0 = 주말 및 공휴일)
test_data['weekday'] = test_data['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
test_data

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,weekday
0,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,1,4,0,20230101,2023-01-01
1,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,1,4,1,20230101,2023-01-01
2,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,0,4,0,20230101,2023-01-01
3,20230102973798,비비고 소고기 미역국 500g,3,9.145375,0,3,0,20230102,2023-01-02
4,20230101965633,비비고 소고기 미역국 500g,2,8.613230,0,3,0,20230101,2023-01-01
...,...,...,...,...,...,...,...,...,...
19655,20230103986821,비비고 찐만두168g,1,7.930566,1,5,1,20230103,2023-01-03
19656,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,0,3,1,20230102,2023-01-02
19657,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,0,3,1,20230103,2023-01-03
19658,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,1,4,0,20230104,2023-01-04
19659,20230103989710,고메 중화짬뽕 652g,1,8.462103,1,3,0,20230103,2023-01-03

In [31]:
# 1 = 평일, 0 = 주말 및 공휴일(설 연휴)
import numpy as np
test_data['weekday'] = test_data['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
test_data['weekday'] = np.where((test_data['weekday'].dt.weekday==5) | (test_data['weekday'].dt.weekday==6) | (test_data['weekday']==2023-1-23) | (test_data['weekday']==2023-1-24), 0, 1)
test_data

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,weekday2,weekday
0,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,1,4,0,20230101,2023-01-01,0
1,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,1,4,1,20230101,2023-01-01,0
2,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,0,4,0,20230101,2023-01-01,0
3,20230102973798,비비고 소고기 미역국 500g,3,9.145375,0,3,0,20230102,2023-01-02,1
4,20230101965633,비비고 소고기 미역국 500g,2,8.613230,0,3,0,20230101,2023-01-01,0
...,...,...,...,...,...,...,...,...,...,...
19655,20230103986821,비비고 찐만두168g,1,7.930566,1,5,1,20230103,2023-01-03,1
19656,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,0,3,1,20230102,2023-01-02,1
19657,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,0,3,1,20230103,2023-01-03,1
19658,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,1,4,0,20230104,2023-01-04,1
19659,20230103989710,고메 중화짬뽕 652g,1,8.462103,1,3,0,20230103,2023-01-03,1

In [32]:
# order_date 컬럼 삭제
test_data.drop('order_date', axis=1, inplace=True) 
test_data

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,weekday2,weekday
0,20230101964282,비비고 스팸부대찌개 460g,1,8.161946,1,4,0,2023-01-01,0
1,20230101970142,삼호 생선살어묵 야채 200g,1,8.098947,1,4,1,2023-01-01,0
2,20230101965237,크레잇 블랙페퍼 폭찹 스테이크,1,8.277412,0,4,0,2023-01-01,0
3,20230102973798,비비고 소고기 미역국 500g,3,9.145375,0,3,0,2023-01-02,1
4,20230101965633,비비고 소고기 미역국 500g,2,8.613230,0,3,0,2023-01-01,0
...,...,...,...,...,...,...,...,...,...
19655,20230103986821,비비고 찐만두168g,1,7.930566,1,5,1,2023-01-03,1
19656,20230102979023,사골곰탕 한 그릇 100g (1-2인분X5개입),1,8.477412,0,3,1,2023-01-02,1
19657,20230103989581,쁘띠첼 자몽상큼함듬뿍워터젤리 130ml,10,9.421249,0,3,1,2023-01-03,1
19658,20230104999357,비비고 언양식 바싹불고기 460g,1,8.594895,1,4,0,2023-01-04,1
19659,20230103989710,고메 중화짬뽕 652g,1,8.462103,1,3,0,2023-01-03,1

In [33]:
test_data['weekday'].value_counts()

1    12289
0     7371
Name: weekday, dtype: int64

In [36]:
# 이벤트 할인 제품 총 구매 횟수 (event_product)

In [ ]:
# test_data 전처리 수행

In [ ]:
# 임직원, 비임직원 데이터 분리