In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('tmk_bda_train.csv')
df

,Unnamed: 0,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,N
1,1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,N
2,2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,N
3,3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,Y
4,4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,Y
...,...,...,...,...,...,...,...,...,...,...
45870,45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,Y
45871,45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,N
45872,45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,N
45873,45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,Y
45874,45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,Y

In [3]:
df = df.drop('Unnamed: 0', axis=1)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,N
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,N
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,N
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,Y
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,Y
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,Y
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,N
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,N
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,Y
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,Y

In [4]:
df.isnull().sum()

scd              0
product_name     0
net_order_qty    0
net_order_amt    0
gender           0
age_grp          0
employee_yn      0
order_date       0
prime_yn         0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45875 entries, 0 to 45874
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            45875 non-null  int64
 1   product_name   45875 non-null  object
 2   net_order_qty  45875 non-null  int64
 3   net_order_amt  45875 non-null  float64
 4   gender         45875 non-null  object
 5   age_grp        45875 non-null  int64
 6   employee_yn    45875 non-null  object
 7   order_date     45875 non-null  int64
 8   prime_yn       45875 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 3.2+ MB

In [6]:
# 프라임 회원 유무 인코딩 (1 = 프라임 회원, 0 = 일반 회원)
map_prime = {'N':0, 'Y':1}
df['prime_yn'] = df['prime_yn'].map(map_prime)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,F,2,Y,20230124,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,M,3,Y,20230124,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,F,4,N,20230125,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,F,4,N,20230126,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,M,4,N,20230125,1
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,M,5,Y,20230102,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,3,N,20230102,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,F,4,N,20230101,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,M,4,Y,20230101,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,M,5,N,20230101,1

In [7]:
# 성별 인코딩 (1 = Male, 0 = Female)
map_gender = {'F':0, 'M':1}
df['gender'] = df['gender'].map(map_gender)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1
...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1

In [8]:
# 나이대 인코딩 X

In [9]:
# 구매일자 인코딩
df['weekday'] = df['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df.head()

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,2023-01-24
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,2023-01-24
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2023-01-25
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,2023-01-26
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2023-01-25

In [10]:
df['weekday'] = df['weekday'].dt.weekday
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2
...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6

In [11]:
# 요일로 분류 (0 = 월, 1 = 화, 2 = 수, 3 = 목, 4 = 금, 5 = 토, 6 = 일)
df['weekday'].value_counts()

6    12022
0     8246
3     7707
1     5675
4     4786
5     4638
2     2801
Name: weekday, dtype: int64

In [12]:
# 1월 23일 월, 1월 24일 화 : 설 연휴
df['weekday2'] = df['order_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df['weekday2'] = np.where((df['weekday2'].dt.weekday==5) | (df['weekday2'].dt.weekday==6) | (df['weekday2']==2023-1-23) | (df['weekday2']==2023-1-24), 0, 1)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0

In [13]:
# 평일 / 주말 및 공휴일로 분류 (1 = 평일, 0 = 주말 및 공휴일)
df['weekday2'].value_counts()

1    29215
0    16660
Name: weekday2, dtype: int64

In [14]:
df_test=df[df['product_name'].str.contains(r'\[')]
df_test

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2
5,20230126167696,[UPCYCLE]햇반 흑미밥 210gx24개(1box),1,10.125110,0,3,N,20230126,0,3,1
29,20230126162220,[UPCYCLE]햇반 흑미밥 210gx24개(1box),1,9.965335,0,4,N,20230126,0,3,1
36,20230125158184,[UPCYCLE]햇반 흑미밥 210gx24개(1box),1,9.965335,1,5,N,20230125,0,2,1
72,20230125157569,[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트,1,9.520982,1,4,Y,20230125,1,2,1
74,20230125156655,[임직원]가쓰오우동 4인분933.2gx2개,1,9.527921,0,3,Y,20230125,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
45851,20230101969574,[앱전용특가]햇반 작은공기130g*6X2개,3,10.043988,0,2,N,20230101,1,6,0
45860,20230102975115,[2023설사원선물신청] 흑삼정 골드클래스 100gx2,1,11.597276,1,5,Y,20230102,0,0,1
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0

In [15]:
test_lst = df_test.product_name.values.tolist()
test_lst

['[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트',
 '[임직원]가쓰오우동 4인분933.2gx2개',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[임직원]햇반소프트밀 한우소고기죽 420gx3개',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]비비고칩 포테이토40gx2개',
 '[임직원]고메 머쉬룸 투움바 파스타 740gx2개',
 '[임직원]밸런스밀 귀리 50gx4개+밸런스밀 견과 50gx4개+밸런스밀 고구마 50gx4개+밸런스밀 바나나 50gx4개+밸런스밀 프로틴쉐이크 카카오 50gx4개',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[임직원]즐거운동행 미정당 쫄면사리800gx2개',
 '[임직원]비비고 삼치구이 60gx2개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]햇반 발아현미밥 210gx12개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[임직원]햇반 발아현미밥 210gx12개',
 '[UPCYCLE]햇반 매일잡곡밥 210gx24개(1box)',
 '[임직원]해찬들 우리쌀로 만든 태양초골드고추장1kgx2개',
 '[600개한정]비비고 육개장 500gX4개',
 '[임직원]햇반 컵반 김치날치알밥188gx2개',
 '[임직원]육공육 더블에이징 킬바사270gx2개',
 '[임직원]밸런스밀 귀리 50gx5개',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[500개한정] 백설 포도씨유 900mlx2개',
 '[임직원]비비고 순살고등어구이60gx2개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[임직원]더건강한 닭가슴살 소시지120gx2개',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]가쓰오우동 4인분933.2gx2개',
 '[임직원]비비고 순살고등어구이60gx2개',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[500개한정]고메 싱글피자 케이준프라이즈 145gx2개',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[300개한정]비비고 남도떡갈비 450gX2개',
 '[600개한정]비비고 육개장 500gX4개',
 '[600개한정]즐거운동행 풍국면 들기름막국수 266gX2개(유통기한:2023-05-22)',
 '[500개한정]다담 된장찌개 양념  530gX2개',
 '[임직원]리턴업 관절케어 MSM (1개월분)x2개(유통기한 23.10.19)',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]고메 치즈크리스피핫도그 340gx2개',
 '[식물성]고메 플랜테이블 함박스테이크 150g',
 '[500개한정]고메 싱글피자 케이준프라이즈 145gx2개',
 '[500개한정]햇반솥반 불고기버섯영양밥 200gx2개',
 '[임직원]햇반흑미밥210g*3EAx4개',
 '[임직원]비비고 시원바지락칼국수642gx2개',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]다담 된장찌개양념 530g',
 '[임직원]The더건강한 그릴김밥햄 140g*2x2개',
 '[임직원]고메 바삭쫄깃한 탕수육450gx2개',
 '[임직원]햇반소프트밀 통단팥죽 280gx4개',
 '[500개한정]비비고수제진한고기만두400g*2x2개',
 '[500개한정]비비고수제진한고기만두400g*2x2개',
 '[800개한정]육공육 더블에이징 롱후랑크250Gx2개',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]햇반 210gx36개',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[500개한정]탱글탱글 불쭈꾸미볶음_밀키트X2개',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[500개한정]비비고 포기배추김치 더풍부한맛 3.3kg',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[300개한정]고메 베이커리 애플파이 360gX2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]고메 삼선해물볶음밥840gx2개',
 '[임직원]고메 바삭쫄깃한 탕수육450gx2개',
 '[임직원]미정당 스파이시로제떡볶이 376gx2개',
 '[임직원]맛밤3+맛군밤3 혼합번들',
 '[임직원]맛밤3+맛군밤3 혼합번들',
 '[600개한정]고메 치킨 후라이드550gX2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]비비고 가자미구이70gx2개',
 '[임직원]햇반 쿡반 치즈닭갈비주먹밥500gx2개',
 '[임직원]크레잇 테이스티박스 토마토파스타 250gx2개',
 '[500개한정]비비고수제진한고기만두400g*2x2개',
 '[500개한정]비비고수제진한고기만두400g*2x2개',
 '[500개한정]다담 된장찌개 양념  530gX2개',
 '[임직원]햇반 210gx36개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[임직원]부침가루1kg',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[임직원]비비고 남도떡갈비450gx2개',
 '[임직원]햇반 210gx36개',
 '[500개한정]맥스봉치즈825g',
 '[임직원]고메 중화게살볶음밥840gx2개',
 '[500개한정]탱글탱글 불쭈꾸미볶음_밀키트X2개',
 '[100개한정] 햇반컵반 BIG바질크림리조또 306gX2개',
 '[택배배송] 탱글탱글 불쭈꾸미볶음_밀키트',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[100개한정] 리턴업 아이시안 루테인 지아잔틴100mgX30캡슐(1개월)X2개',
 '[300개한정]햇반 흑미밥 210gX12개',
 '[임직원]햇반 솥반 소고기우엉밥 200gx3개',
 '[임직원]해찬들 고기찍어먹는장 찍장 쌈장 300g',
 '[500개한정]고메 크리스피핫도그 400gX2개',
 '[1600개한정]고메 바삭튀겨낸모짜렐라돈카츠450gX2개',
 '[500개한정]백설 트러플크림 파스타소스 355gx2개',
 '[임직원]햇반 컵반 스팸김치덮밥251gx3개',
 '[임직원]삼호 꼬치어묵 600gx2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[500개한정]고메 스윗치즈 피자 325gx2개',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]리턴업 아이시안 루테인 아스타잔틴60+(1개월)x3개',
 '[임직원]햇반 매일찰잡곡밥 210g*3x4개',
 '[임직원]스팸 김밥햄 260gx2개',
 '[임직원]햇반소프트밀 녹두닭죽 420gx3개',
 '[임직원]밸런스밀 고구마50Gx5개',
 '[900개한정]고메함박스테이크 540gX2개',
 '[500개한정]비비고 갈비탕 400gX3개',
 '[500개한정]고메 스윗치즈 피자 325gx2개',
 '[500개한정]맥스봉치즈825g',
 '[임직원]비비고 노릇하게 구운 갈치구이70gx2개',
 '[임직원]고메 토마토미트볼147gx2개',
 '[임직원]더건강한 닭가슴살 청양 소시지 120gx2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]비비고 GOTCHU 갓츄 핫소스 300g',
 '[임직원]비비고 남도떡갈비450gx2개',
 '[임직원]고메 바삭쫄깃한 탕수육450gx2개',
 '[임직원]이너비 콜렉티브 콜라겐 930mgX84정(4주)X6개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[임직원]동치미물냉면 4인분x2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[500개한정]비비고수제진한고기만두400g*2x2개',
 '[임직원]더건강한 닭가슴살 직화 스테이크100gx3개+[사은품]갓츄 핫소스 샘플키트',
 '[임직원]얼큰우동2인분x2개',
 '[500개한정]해찬들 우리쌀로 만든 태양초골드고추장 2kg',
 '[UPCYCLE]햇반 발아현미밥 210gx24개(1box)',
 '[임직원]고메 중화짬뽕652gx2개',
 '[임직원]The더건강한 그릴김밥햄 140g*2x2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[1400개한정 ]The더건강한 그릴후랑크300g*2X2개',
 '[임직원]비비고 순살삼치구이60gx2개',
 '[500개한정]백설 베이컨까르보나라 파스타소스 355gx2개',
 '비비고 순살 고등어구이 60g+한마리고등어구이 140g+순살 삼치구이 60g+노릇하게 구운 갈치구이 70g+[사은품]생선구이 웰컴키트',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[임직원]햇반 컵반치킨커리덮밥278gx3개',
 '[500개한정]비비고 묵은지 900gx2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[임직원]햇반 210gx36개',
 '[임직원]고메치즈함박스테이크152gx2개',
 '[임직원]베트남 쌀국수2인분375gx2개',
 '[500개한정]햇반소프트밀 통단팥죽 280gX4개',
 '[1400개한정 ]The더건강한 그릴후랑크300g*2X2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[임직원]행복한콩 2가지로만 국산콩찌개용300gx2개',
 '[임직원]햇반 솥반 뿌리채소영양밥200gx2개',
 '[500개한정]비비고 갈비탕 400gX3개',
 '[임직원]더건강한 닭가슴살 직화 스테이크100gx3개+[사은품]갓츄 핫소스 샘플키트',
 '[100개한정] 햇반컵반 BIG바질크림리조또 306gX2개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[100개한정] 고메 로제크림치킨 시카고피자 400gx2개',
 '[500개한정]다담 깻잎지 반찬양념 150gx2개',
 '[임직원]해찬들 우리쌀로 만든 태양초골드고추장1kgx2개',
 '[임직원]햇반 차돌깍두기볶음밥 410g x2개',
 '[500개한정]백설 트러플크림 파스타소스 355gx2개',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[600개한정]햇반소프트밀 전복내장죽 420gX2개',
 '[임직원]햇반소프트밀 녹두닭죽 420gx3개',
 '[임직원]닥터뉴트리 포커스 멀티비타민 60캡슐(2개월)x3개',
 '[500개한정] 비비고 수제만둣집 진한고기만두980gx2개',
 '[임직원]비비고 순살고등어구이60gx2개',
 '[임직원]고메 치즈크리스피핫도그 340gx2개',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[임직원]햇반 매일오곡밥 210Gx12개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[임직원]동치미냉면육수300gx2개',
 '[500개한정] 햇반솥반 버섯영양밥 200gX2개',
 '[500개한정]고메 중화짜장 760gX2개',
 '[임직원]가쓰오우동2인+튀김우동2인x2개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[임직원]햄스빌베이컨160gX2x2개',
 '[임직원]더건강한 닭가슴살 직화 통살구이100gx2개+[사은품]갓츄 핫소스 샘플키트',
 '[300개한정]비비고 남도떡갈비 450gX2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[택배배송] 탱글탱글 불쭈꾸미볶음_밀키트',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[500개한정]꼬마새우까스 250gx2개',
 '[임직원]비비고 소고기장조림125Gx3개',
 '[임직원]비비고 노릇하게 구운 갈치구이70gx2개',
 '[500개한정]햇반쿡반 불고기주먹밥 500gX2개',
 '[1000개한정]고메 바삭튀겨낸통등심돈카츠450gX2개',
 '[임직원]더건강한 닭가슴살 직화 통살구이100gx2개+[사은품]갓츄 핫소스 샘플키트',
 '[임직원]백설 매실청1.025kgx2개',
 '[임직원]비비고 남도떡갈비450gx2개',
 '[임직원]행복한콩/2가지국산콩부침찌개300G*2x2개',
 '[임직원]고메 페퍼로니토마토 시카고피자 390gx2개',
 '[임직원]햇반흑미밥210g*3EAx4개',
 '[500개한정] 햇반쿡반 곤드레나물밥866g',
 '[택배배송] 탱글탱글 불쭈꾸미볶음_밀키트',
 '[UPCYCLE]햇반 매일찰잡곡밥 210gx24개(1box)',
 '[500개한정]더건강한 직화 화다닭 75gx2개',
 '[500개한정]다담 된장찌개 양념  530gX2개',
 '[임직원]비비고 남도떡갈비450gx2개',
 '[임직원]고메 바삭쫄깃한 탕수육450gx2개',
 '[임직원]비비고칩 스위트콘40gx2',
 '[500개한정]고메 토마토미트볼 147gX2개',
 '[임직원]주부초밥왕 한입사각유부초밥400gx2개',
 '[임직원]명가 한달직화구이김박스12EA*4',
 '[300개한정]비비고 잔칫집모둠잡채644gx2개',
 '[임직원]비비고칩 오리지널40gx2개',
 '[임직원]비비고 왕교자 1.05kgx2개+[사은품]갓츄 핫소스 샘플키트X3개',
 '[임직원]맥스봉치즈1.08KG(27G*40개)',
 '[임직원]스팸마일드(25%라이트) 200gx3개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[500개한정]고메 크리스피핫도그 400gX2개',
 '[임직원]크레잇 숯불향고추장삼겹살400gx2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[임직원]더건강한 닭가슴살 비엔나 120gx2개',
 '[500개한정][bibigo table] 비비고 특양지곰탕 700gx2개(냉동)',
 '[1000개한정] 고메 중화게살 볶음밥 840gx2개',
 '[500개한정]백설 토마토라구 파스타소스 375gx2개',
 '[임직원]명가 직화돌김 4.5gx16eax2개',
 '[500개한정]꼬마새우까스 250gx2개',
 '[500개한정]다담 깻잎지 반찬양념 150gx2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]비비고 순살고등어구이60gx2개',
 '[임직원]쁘띠첼 밀감 90gx6eax2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]쁘띠첼 워터젤리 사과130mlx5개',
 '[400개한정]비비고 순살 고등어구이 60gX2개',
 '[500개한정]고메 클래식 콤비네이션 피자 405gX2개',
 '[임직원]햇반 쿡반 곤드레나물밥 866gx2개',
 '[200개한정]비비고 콩나물황태국 500gX4개',
 '[임직원]비비고 왕교자420gx2개',
 '[임직원]스팸 김밥햄 260gx2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[400개한정]비비고 노릇하게 구운 갈치구이 70gX2개',
 '[임직원]가쓰오우동2인+튀김우동2인x2개',
 '[임직원]다담 순두부찌개양념 140g*4x2개',
 '[500개한정] CJ 꼬마돈까스 1.2kgX2개',
 '[600개한정]비비고 육개장 500gX4개',
 '[임직원]햇반 컵반 사골곰탕국밥 166Gx3개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[임직원]고메 베이커리 크로와상 630Gx2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[임직원]김처럼 밥에 싸먹는 햄 구이 한판 60gx4개',
 '[임직원]해찬들 새콤달콤 초고추장300g(튜브)x2개',
 '[500개한정] CJ 꼬마돈까스 1.2kgX2개',
 '[500개한정] 백설 유러피안 해바라기유 스프레이 200mlx2개',
 '[임직원]주부초밥왕 새콤달콤유부초밥 320gx2개',
 '[임직원]비비고 썰은배추더풍부한맛900gx2개',
 '[500개한정]고메 크리스피핫도그 400gX2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[500개한정]햇반소프트밀 단호박죽 420gX2개',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[임직원]햇반 솥반 버섯영양밥 200Gx3개',
 '[임직원]생야채돼지고기물만두400g*2eax2개',
 '[300개한정]비비고진한교자칼국수630gX2개',
 '[임직원]고메 바삭튀겨낸모짜렐라돈카츠450gx2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[임직원]고메 빅크리스피핫도그520gx2개',
 '[임직원]맥스봉 청양고추 후랑크80gx2개',
 '[500개한정]햇반소프트밀 단호박죽 420gX2개',
 '[임직원]하선정 4無 김밥단무지 370gx2개',
 '[임직원]비비고 버섯잡채590gx2개',
 '[1600개한정]고메 바삭튀겨낸모짜렐라돈카츠450gX2개',
 '[800개한정]밸런스밀 프로틴쉐이크 카카오 50gx4개',
 '[임직원]밸런스밀 바나나 50gx5개',
 '[임직원]고메 함박스테이크152gx2개',
 '[700개한정]고메 빅크리스피핫도그520gX2개',
 '[700개한정]고메 빅크리스피핫도그520gX2개',
 '[임직원]명가 한달직화구이김박스12EA*4',
 '[임직원]주부초밥왕 한입사각유부초밥400gx2개',
 '[300개한정]비비고 한입떡갈비 282g*2X2개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[500개한정]고메 크리스피너겟 450gX2개',
 '[임직원]The더건강한 샌드위치햄90gx2개',
 '[임직원]튀김가루1kg',
 '[임직원]햇반 컵반 스팸김치덮밥251gx3개',
 '[1600개한정]고메 바삭튀겨낸모짜렐라돈카츠450gX2개',
 '[500개한정]가쓰오우동 4인분 933.2gX2개',
 '[300개한정]비비고 한입떡갈비 282g*2X2개',
 '[500개한정]고메 머쉬룸 투움바 파스타 740gX2개',
 '[임직원]비비고 삼계탕800gx4개',
 '[1000개한정]고메 바삭튀겨낸통등심돈카츠450gX2개',
 '[500개한정]비비고 청양고기만두 400g*2x2개',
 '[300개한정]백설 고소함가득 참기름 430mlX2개',
 '[임직원]씨제이 납작군만두700g',
 '[임직원]햇반 솥반 통곡물밥 200Gx3개',
 '[임직원]비비고 순살삼치구이60gx2개',
 '[500개한정]고메 크리스피핫도그 400gX2개',
 '[임직원]부침가루1kg',
 '[임직원]CJ 꼬마돈까스1.2kgx2개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[500개한정]햇반 현미밥 130gX24개',
 '[임직원]스팸라이트 200gx3번들(노캡)x2개',
 '[400개한정]비비고 차돌된장찌개 460gX3개',
 '[500개한정]고메 꿀고구마치즈 피자 140gX2개',
 '[800개한정]고메 순살치킨 스윗허니 450gX2개',
 '[임직원]햇반소프트밀 동지팥죽 420gx3개',
 '[임직원]삼호 매콤달콤 쫀득어묵볶이 330gx2개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[400개한정] 크레잇 치킨가라아게 1kgX2개',
 '[임직원]백설 안달루시아산 퓨어 올리브유 500mlx2개',
 '[임직원]햇반 컵반강된장보리비빔밥280gx3개',
 '[600개한정]비비고 육개장 500gX4개',
 '[1400개한정 ]The더건강한 그릴후랑크300g*2X2개',
 '[임직원]삼호 모둠어묵탕374gx2개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[1000개한정] 고메 중화게살 볶음밥 840gx2개',
 '[임직원]비비고 소고기 미역국 500gx6개',
 '[임직원]튀김가루1kg',
 '[임직원]즐거운동행 미정당 우리땅우리쌀떡국떡1kgx2개',
 '[임직원]비비고 청양고추 찐만두168gx2개',
 '[임직원]비비고 진한고기400g*2x2개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[100개한정] 햇반쿡반 참치마요주먹밥 500gx2개',
 '[임직원]비비고칩 오리지널40gx2개',
 '[200개한정]비비고 돼지고기김치찌개 460gX3개',
 '[500개한정]고메 바삭쫄깃한 탕수육 450g+바삭촉촉한 깐풍기 450g',
 '[500개한정]햇반쿡반 김치치즈주먹밥 500gX2개',
 '[임직원]해찬들 새콤달콤 초고추장300g(튜브)x2개',
 '[임직원]가쓰오우동2인+얼큰우동2인x2개',
 '[임직원]더건강한 닭가슴살 비엔나 120gx2개',
 '[임직원]리턴업 발효효소 베이직 90G(1개월)x3개',
 '[600개한정]고메치즈크리스피핫도그340gX2개',
 '[500개한정] CJ명가 한식간장김자반50gX2개',
 '[500개한정]스팸 클래식200gx3개X2개',
 '[임직원]가쓰오우동한그릇x2개',
 '[임직원]해찬들 고기찍어먹는장 찍장 매콤쌈장 300g',
 '[임직원]명가 김밥김 22gx2개',
 '[임직원]비비고 소고기 미역국 500gx6개',
 '[500개한정]고메 중화짜장 760gX2개',
 '[임직원]고메 크리스피너겟 450gx3개',
 '[임직원]고메 빅크리스피핫도그520gx2개',
 '[임직원]더건강한 닭가슴살 직화 화다닭 75gx3개',
 '[1000개한정]고메 페퍼로니토마토 시카고피자 390g+고메 클래식 콤비네이션 피자 405g+고메 클래식 불고기 피자 405g',
 '[임직원]비비고 석박지 900gx2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[임직원]명가 한달직화구이김박스12EA*4',
 '[임직원]비비고 수삼갈비탕 400gx4개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[임직원]삼호 매콤달콤 쫀득어묵볶이 330gx2개',
 '[임직원]리턴업 아이시안 루테인 오메가3(1개월)x3개',
 '[임직원]가쓰오우동 2인분 466.6gx2개',
 '[500개한정]백설 통손질국물내기 국내산멸치디포리 10gX6개입x2개',
 '[임직원]비비고 왕교자420gx2개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[500개한정]비비고 소고기 미역국 500gX4개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[임직원]햇반 솥반 흑미밤찰밥 210gx3개',
 '[임직원]The더건강한그릴후랑크300g*2x2개',
 '[임직원]비비고 진한고기400g*2x2개',
 '[임직원]해찬들 궁중식 쇠고기 볶음고추장500gx2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[100개한정] 햇반컵반 BIG트러플크림리조또 301gX2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[임직원]비비고 육개장 500gx6개',
 '[임직원]이너비_스노우화이트 500MG*56캡슐(4주)x2개',
 '[임직원]더건강한 닭가슴살 소시지(꼬치)80gx3개',
 '[100개한정] 고메 페퍼로니토마토 시카고피자 390gx2개',
 '[500개한정]백설 와플믹스 450gx2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[임직원]비비고 든든한섬만두 384g*2x2개',
 '[임직원]톡톡까먹어밤 500gx2개',
 '[임직원]비비고 백김치500gx2개',
 '[임직원]햇반소프트밀 동지팥죽 420gx3개',
 '[임직원]명가 담백구운김 2gx16eax2개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[임직원]고메 봉골레 오일 파스타626gx2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[임직원]더건강한 닭가슴살 직화 통살구이100gx2개+[사은품]갓츄 핫소스 샘플키트',
 '[임직원]즐거운동행 풍국면 들기름막국수266gx2개(유통기한 23.05.29)',
 '[500개한정] 햇반쿡반 스팸김치주먹밥 500gx2개',
 '[600개한정]밸런스밀 귀리 50gX2개',
 '[임직원]비비고 진한고기400g*2x2개',
 '[400개한정]비비고 차돌된장찌개 460gX3개',
 '[400개한정]비비고 순살 고등어구이 60gX2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[700개한정]비비고 물만두 370gx2개X2개',
 '[400개한정]더건강한 닭가슴살 직화 통살구이100gX4개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[300개한정]비비고 잔칫집모둠잡채644gx2개',
 '[300개한정]비비고 한입떡갈비 282g*2X2개',
 '[임직원]더건강한 닭가슴살 직화 통살구이100gx2개+[사은품]갓츄 핫소스 샘플키트',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[600개한정] 햇반솥반 꿀약밥 210gX3개',
 '[100개한정] 다담 진미채양념 150gx2개',
 '[임직원]햇반 컵반황태국밥170gx3개',
 '[임직원]BYO 식물유래 유산균 다이어트 30캡슐(1개월)x2개',
 '[500개한정]고메 꿀고구마치즈 피자 140gX2개',
 '[임직원]밀당의고수쫄면2인x2개',
 '[임직원]깐메추리알 450gx2개',
 '[700개한정]고메 빅크리스피핫도그520gX2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[500개한정]햇반 매일찰잡곡밥 210g*8번들X2개',
 '[임직원]고메 크리스피핫도그 400gx2개',
 '[500개한정]고메 크리스피너겟 450gX2개',
 '[임직원]비비고 진한고기400g*2x2개',
 '[임직원]백설 요리올리고당 700gx3개',
 '[500개한정]비비고 소고기 미역국 500gX4개',
 '[임직원]비비고 포기배추김치 더풍부한맛 3.3kg',
 '[임직원]비비고 된장찌개 460gx4개',
 '[임직원]The더건강한그릴후랑크300g*2x2개',
 '[500개한정]고메 꿀고구마치즈 피자 140gX2개',
 '[임직원]더건강한 닭가슴살 비엔나 120gx2개',
 '[임직원]삼호 모둠어묵탕374gx2개',
 '[임직원]고메 함박스테이크152gx2개',
 '[임직원]명가 담백구운김 2gx16eax2개',
 '[1000개한정]고메 바삭튀겨낸통등심돈카츠450gX2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[임직원]고메 싱글피자 꿀고구마치즈 140gx3개',
 '[임직원]쁘띠첼 복숭아 90gx6eax2개',
 '[600개한정]햇반쿡반 베이컨김치볶음밥 400gX2개',
 '[500개한정]비비고소고기장터국 500gx4개',
 '[임직원]삼호 쫀득어묵 500gx2개',
 '[임직원]비비고 수제깔끔고기만두200gx3개',
 '[500개한정]고메 꿀고구마치즈 피자 140gX2개',
 '[임직원]비비고 견과류멸치볶음60Gx4개',
 '[임직원]더건강한 닭가슴살 꼬지 청양고추80gx2개',
 '[400개한정] 크레잇 치킨가라아게 1kgX2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개',
 '[임직원]비비고 한마리고등어구이140gx2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 450gX2개',
 '[임직원]맥스봉 직화구이꼬치바오리지널 70gx2개',
 '[임직원]햇반소프트밀 소고기죽 420gx3개',
 '[500개한정]고메 꿀고구마치즈 피자 140gX2개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[임직원]즐거운동행미정당 국물떡볶이401.2gx2개',
 '[임직원]EXCYCLE 바삭칩 오리지널맛 50gx2개',
 '[임직원]햇반소프트밀 동지팥죽 420gx3개',
 '[임직원]비비고 진한고기400g*2x2개',
 '[임직원]맥스봉치즈162gx2개',
 '[임직원]명가 김밥김 22gx2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[1000개한정]고메 페퍼로니토마토 시카고피자 390g+고메 클래식 콤비네이션 피자 405g+고메 클래식 불고기 피자 405g',
 '[임직원] 비비고 두부청국장찌개 460gx3개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[임직원]비비고 왕교자 1.05kgx2개+[사은품]갓츄 핫소스 샘플키트X3개',
 '[500개한정]비비고 썰은배추김치 1.8kgX2개',
 '[임직원]더건강한 닭가슴살 통살 훈제 100gx2개',
 '[500개한정]비비고 진한김치만두200gX2개',
 '[500개한정] CJ 꼬마돈까스 1.2kgX2개',
 '[100개한정]고메 트러플 크림 파스타 740gx2개',
 '[임직원]햇반 컵반 순두부찌개국밥 173gx3개',
 '[500개한정]햇반작은공기130g*6번들X2개',
 '[500개한정]고메 순살크리스피 치킨 고추크런치 450gX2개',
 '[500개한정]고메오리지널 핫도그 400gx2개',
 '[500개한정]햇반쿡반 김치치즈주먹밥 500gX2개',
 '[500개한정]둥근햇반 210gx3입X12개',
 '[임직원]밸런스밀 견과50Gx5개',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[임직원]비비고 부추새우만두509gx2개',
 '[500개한정]고메 토마토치즈 피자 345gx2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[임직원]CJ 교자만두1.41kg',
 '[임직원]햇반 컵반중화마파덮밥275gx3개',
 '[1000개한정]비비고 왕교자 1.05kgX2개+고메 바삭튀겨낸통등심돈카츠450g',
 '[임직원]햇반소프트밀 전복버섯죽 280gx4개',
 '[500개한정]햇반작은공기130g*6번들X2개',
 '[500개한정]비비고 시원바지락칼국수642g (2인분)X2개',
 '[400개한정]비비고 차돌된장찌개 460gX3개',
 '[앱전용특가]햇반 작은공기130gX6번들X2개',
 '[임직원]쁘띠첼 워터젤리 포도 130mlx5개',
 '[500개한정]꼬마 돈까스 400gx2개',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[1000개한정]비비고 왕교자 1.05kgX2개+고메 바삭튀겨낸통등심돈카츠450g',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[500개한정]고메 크리스피너겟 450gX2개',
 '[임직원]더건강한 닭가슴살 직화 화다닭 75gx3개',
 '[임직원]비비고 한마리고등어구이140gx2개',
 '[500개한정]고메 클래식 불고기 피자 405gX2개',
 '[임직원]햇반 컵반직화짜장덮밥281gx3개',
 '[500개한정]비비고 진한김치만두400g*2X2개',
 '[임직원]행복한콩 2가지로만 국산콩부침용300gx2개',
 '[500개한정]고메  마르게리타 피자 325gx2개',
 '[임직원]더건강한 닭가슴살 소시지(꼬치)80gx3개',
 '[임직원]햇반소프트밀 누룽지닭백숙죽 420gx3개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[100개한정]햇반솥반 전복내장영양밥 200gx2개',
 '[임직원]까르보나라스파게티2인분x2개',
 '[임직원]햇반 컵반황태국밥170gx3개',
 '[임직원]삼호 쫀득어묵 500gx2개',
 '[500개한정] CJ명가 한달직화구이김박스12ea*4',
 '[임직원]비비고 고등어구이 60gx2개',
 '[500개한정]미정당 매콤까르보나라 누들떡볶이X2개',
 '[500개한정] CJ명가 한달직화구이김박스12ea*4',
 '[임직원]비비고 수제진한김치만두400g*2x2개',
 '[임직원]비비고 깍두기500gx2개',
 '[800개한정]고메 순살치킨 스윗허니 450gX2개',
 '[600개한정] 햇반솥반 뿌리채소영양밥 200gX3개',
 '[500개한정]비비고 소고기 미역국 500gX4개',
 '[800개한정]고메 순살치킨 스윗허니 450gX2개',
 '[임직원]비비고 수제진한김치만두400g*2x2개',
 '[500개한정]스팸 클래식 200gx4개',
 '[1000개한정]비비고 왕교자 1.05kgX2개+고메 바삭튀겨낸통등심돈카츠450g',
 '[300개한정]햇반 발아현미밥210gX12개',
 '[임직원]두부면 들기름 간장파스타 2인분x2개',
 '[임직원]명가 김밥김 22gx2개',
 '[임직원]고메치킨 후라이드550gx2개',
 '[1000개한정]고메 페퍼로니토마토 시카고피자 390g+고메 클래식 콤비네이션 피자 405g+고메 클래식 불고기 피자 405g',
 '[임직원]비비고 수제깔끔고기만두200gx3개',
 '[임직원]쁘띠첼 워터젤리 복숭아 130mlx5개',
 '[700개한정]고메 빅크리스피핫도그520gX2개',
 '[500개한정]고메 숯불향오븐구이 400gX2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[임직원]고메 싱글피자 꿀고구마치즈 140gx3개',
 '[500개한정]비비고 진한김치만두200gX2개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 900gX2개',
 '[500개한정]CJ명가 한식간장김자반50g*2eaX2개',
 '[임직원]맥스봉 치즈후랑크70gx2개',
 '[1000개한정]고메 페퍼로니토마토 시카고피자 390g+고메 클래식 콤비네이션 피자 405g+고메 클래식 불고기 피자 405g',
 '[500개한정]고메 중화짬뽕 652gX2개',
 '[500개한정]햇반작은공기130g*6번들X2개',
 '[임직원]고메 바삭튀겨낸통등심돈카츠450gx2개',
 '[100개한정] 다담 진미채양념 150gx2개',
 '[임직원]더건강한 닭가슴살 샌드위치햄 90gx2개',
 '[2300개한정]즐거운동행미정당국물떡볶이401.2gx2개',
 '[700개한정]비비고 물만두 370gx2개X2개',
 '[임직원]햇반 컵반BIG바질크림리조또306gx3개',
 '[임직원]햇반작은공기130g*6번들x2개',
 '[임직원]쁘띠첼 워터젤리 포도 130mlx5개',
 '[임직원]깐메추리알 450gx2개',
 '[임직원]쁘띠첼 과일젤리포도210gx5개',
 '[200개한정]비비고 돼지고기김치찌개 460gX3개',
 '[1000개한정]비비고 삼계탕 800gx2개',
 '[임직원]햇반 새우볶음밥 420gx2개',
 '[500개한정]비비고 진한김치만두400g*2X2개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[700개한정]햄스빌 굿베이컨130g*2X2개',
 '[500개한정]햇반 매일잡곡밥210gX12개',
 '[임직원]BYO 프리바이오틱스 FOS플러스 30포(1개월)x3개',
 '[임직원]CJ명가 파래김4g*16eax2개',
 '[800개한정]고메 순살치킨 스윗허니 450gX2개',
 '[500개한정]더건강한 닭가슴살 직화 스테이크100gx4개',
 '[500개한정]백설 통손질국물내기 얼큰해물 10gX6개입x2개',
 '[임직원]비비고 언양식 바싹불고기460gx2개',
 '[2300개한정]즐거운동행미정당국물떡볶이401.2gx2개',
 '[500개한정]백설 명란로제 파스타소스 370gx2개',
 '[임직원]맥스봉 숯불구이맛 핫바 70gx2개',
 '[임직원]햇반 컵반 미역국밥167gx2개',
 '[임직원]CJ 교자만두1.41kg',
 '[500개한정]고메오리지널 핫도그 400gx2개',
 '[500개한정]고메 순살크리스피 치킨 고추크런치 450gX2개',
 '[600개한정] 햇반솥반 꿀약밥 210gX3개',
 '[임직원]더건강한 닭가슴살 통살 훈제 100gx2개',
 '[500개한정] 삼호 가쓰오 모둠 어묵탕413gx2개',
 '[임직원]햇반 솥반 꿀약밥 210gx3개',
 '[700개한정]햄스빌 굿베이컨130g*2X2개',
 '[임직원]함흥비빔냉면소스85gx5개',
 '[500개한정]비비고 소고기장조림 125gX2개',
 '[임직원]CJ명가 파래김4g*16eax2개',
 '[500개한정]비비고 시원바지락칼국수642g (2인분)X2개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[400개한정]고메 함박스테이크 152gX6개',
 '[임직원](냉동) 비비고 테이블 특양지곰탕 700gx2개',
 '[임직원]맥스봉 치즈후랑크70gx2개',
 '[임직원]더건강한 닭가슴살 통살 훈제 100gx2개',
 '[1000개한정]비비고 왕교자 1.05kgX2개+고메 바삭튀겨낸통등심돈카츠450g',
 '[임직원]함흥비빔냉면소스85gx5개',
 '[100개한정]쁘띠첼 미초 석류 900mlX2개',
 '[임직원]비비고 수제진한김치만두400g*2x2개',
 '[임직원]햇반작은공기130g*6번들x2개',
 '[1000개한정]고메 페퍼로니토마토 시카고피자 390g+고메 클래식 콤비네이션 피자 405g+고메 클래식 불고기 피자 405g',
 '[500개한정]비비고 순살고등어구이 60g+비비고 노릇하게 구운 갈치구이 70g+비비고 순살삼치구이 60g+비비고 고등어구이 60g',
 '[500개한정]햇반 매일잡곡밥210gX12개',
 '[500개한정] CJ명가 한달직화구이김박스12ea*4',
 '[100개한정]햇반솥반 전복내장영양밥 200gx2개',
 '[임직원]비비고 임연수구이 60gx2개',
 '[임직원]햇반 컵반 미역국밥167gx2개',
 '[500개한정]햇반작은공기130g*6번들X2개',
 '[임직원]삼호 가쓰오모둠어묵탕413gx2개',
 '[500개한정]백설 명란로제 파스타소스 370gx2개',
 '[임직원]리턴업 면역케어 프로폴리스(1개월)x3개',
 '[임직원]CJ 명가김 재래김4g*16ea x2개',
 '[임직원]CJ 명가김 재래김4g*16ea x2개',
 '[임직원]햇반소프트밀 전복버섯죽 280gx4개',
 '[2000개한정]고메 바삭쫄깃한 탕수육 900gX2개',
 '[임직원]햇반작은공기130g*6번들x2개',
 '[임직원]햇반작은공기130g*6번들x2개',
 '[임직원]CJ명가 파래김4g*16eax2개',
 '[500개한정]백설너비아니560gX2개',
 '[임직원]까르보나라스파게티2인분x2개',
 '[500개한정]햇반 매일잡곡밥210gX12개',
 '[임직원]햇반쿡반 매콤부추고기볶음밥 400gx2개',
 '[임직원]햇반 컵반직화짜장덮밥281gx3개',
 '[500개한정] 고메 소보로 고르곤졸라 시카고 피자370gx2개',
 '[임직원]감자수제비가루500gx2개',
 '[새벽배송][쿡킷] 애호박 돼지고기짜글이',
 '[새벽배송][쿡킷] 소고기버섯듬뿍잡채',
 '[UPCYCLE]햇반 흑미밥 210gx24개(1box)',
 '[1000개한정]고메 중화짬뽕 652g+고메 중화짜장 760g+고메 중화게살볶음밥840g',
 '[임직원]해찬들 우리쌀로 만든 태양초골드고추장1kgx2개',
 '[500개한정] 백설 포도씨유 900mlx2개',
 '[UPCYCLE]햇반 210gx24개(1box)',
 '[500개한정] 백설 유러피안 엑스트라버진 올리브유 스프레이 200mlx2개',
 '[1000개한정]고메 중화짬뽕 652g+고메 중화짜장 760g+고메 중화게살볶음밥840g',
 '[500개한정]다담 깻잎지 반찬양념 150gx2개',
 '[500개한정]고메 화끈불닭봉 355gX2개',
 '[500개한정] 백설 포도씨유 900mlx2개',
 '[새벽배송][쿡킷] 불낙전골',
 '[500개한정] 백설 포도씨유 900mlx2개',

In [16]:
# 이벤트 할인 제품 총 구매 횟수 (event_product)
# 식물성, 냉동, 새벽배송, 택배배송, 유산균, 눈건강, 피부건강, 1BOX는 이벤트에서 제외
# 지정일 택배배송, 쿡킷
df['event_product'] = np.where((df['product_name'].str.contains(r'\[')) & (-df['product_name'].str.contains('식물성|냉동|새벽배송|택배배송|유산균|눈건강|피부건강|1BOX')), 1, 0)
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0

In [17]:
# 0/1 대신 net_order_qty 사용 (필요한가?)
# df['event_product'] = np.where((df['product_name'].str.contains(r'\[')) & (-df['product_name'].str.contains('식물성|냉동|새벽배송|택배배송|유산균|눈건강|피부건강|1BOX')), 1, df['net_order_qty'])

- 0 = 국/김치/김/반찬/두부
- 1 = 스팸/닭가슴살/소시지
- 2 = 신선식품
- 3 = 만두/피자/치킨
- 4 = 핫도그/떡볶이/간식
- 5 = 돈까스/함박/구이
- 6 = 밥/죽/면
- 7 = 밀키트
- 8 = 건강식품
- 9 = 음료/생수/시럽
- 10 = 양념/소스/가루/오일
- 11 = 대용량 식자제

In [18]:
# 12개의 카테고리로 분류
#cj_10 = pd.read_csv('crawling_cj0004.csv')
#cj_10['category'] = 10
#cj_10

In [19]:
#cj_9 = pd.read_csv('crawling_cj0005.csv')
#cj_9['category'] = 9
#cj_9

In [20]:
#cj_8 = pd.read_csv('crawling_cj0006.csv')
#cj_8['category'] = 8
#cj_8

In [21]:
#cj_2 = pd.read_csv('crawling_cj0007.csv')
#cj_2['category'] = 2
#cj_2

In [22]:
#cj_11 = pd.read_csv('crawling_cj0009.csv')
#cj_11['category'] = 11
#cj_11

In [23]:
#cj_7 = pd.read_csv('crawling_cj0010.csv')
#cj_7['category'] = 7
#cj_7

In [24]:
#cj_6 = pd.read_csv('crawling_cj0018.csv')
#cj_6['category'] = 6
#cj_6

In [25]:
#cj_0 = pd.read_csv('crawling_cj0019.csv')
#cj_0['category'] = 0
#cj_0

In [26]:
#cj_3 = pd.read_csv('crawling_cj0020.csv')
#cj_3['category'] = 3
#cj_3

In [27]:
#cj_4 = pd.read_csv('crawling_cj0021.csv')
#cj_4['category'] = 4
#cj_4

In [28]:
#cj_5 = pd.read_csv('crawling_cj0022.csv')
#cj_5['category'] = 5
#cj_5

In [29]:
#cj_1 = pd.read_csv('crawling_cj0023.csv')
#cj_1['category'] = 1
#cj_1

In [30]:
#cj = pd.concat([cj_0, cj_1, cj_2, cj_3, cj_4, cj_5, cj_6, cj_7, cj_8, cj_9, cj_10, cj_11], axis=0)
#cj

In [31]:
#cj.to_csv('cj_category.csv')

In [32]:
cj = pd.read_csv('cj_category.csv')
cj = cj.drop('Unnamed: 0', axis=1)
cj = cj.drop_duplicates()
cj.columns = ['category', 'product_name']
cj

      category                     product_name
0            0    [생산직송]비비고 포기배추김치 5kg+총각김치 2kg
1            0  [생산직송]비비고 포기김치 5kg+열무김치 900gX2개
2            0                 비비고 순살 고등어구이 60g
3            0       비비고 소고기 미역국 500gx18개(1box)
4            0              비비고 소고기 미역국 500gX6개
...        ...                              ...
1722        11                      크레잇 베이컨 1kg
1723        11                           요리당5kg
1724        11                  크레잇 햄야채볶음밥 280g
1725        11                쉐프솔루션 고기팡팡 미트볼1kg
1726        11            크레잇 생활반찬 고추송송 고기말이1kg

[1724 rows x 2 columns]

In [33]:
# 2개 이상의 카테고리에 포함되어 있는 제품
cj_cate = cj['product_name'].value_counts().to_frame()
cj_cate.reset_index(drop=False, inplace=True)
cj_cate.columns = ['product_name', 'num']
cj_cate

                     product_name  num
0             프레시웨이 간식/아이스크림 골라담기    3
1                     백설 하얀설탕 5kg    2
2                울트라레귤러컷 냉동감자 2kg    2
3                 고메 삼선해물볶음밥 420g    2
4     해찬들 100% 우리쌀 매운 태양초 고추장 3kg    2
...                           ...  ...
1662         비비고 청양고추 찐만두 392gX2개    1
1663               고메 미니치즈너겟 400g    1
1664               비비고 왕만두490gx2개    1
1665            비비고 청양고추 찐만두 168g    1
1666        크레잇 생활반찬 고추송송 고기말이1kg    1

[1667 rows x 2 columns]

In [34]:
cj_cate2 = cj_cate[cj_cate['num']>=2]
cj_cate2

                                    product_name  num
0                            프레시웨이 간식/아이스크림 골라담기    3
1                                    백설 하얀설탕 5kg    2
2                               울트라레귤러컷 냉동감자 2kg    2
3                                고메 삼선해물볶음밥 420g    2
4                    해찬들 100% 우리쌀 매운 태양초 고추장 3kg    2
5                                   비비고칩 스위트콘40G    2
6                                   비비고칩 포테이토40g    2
7                              백설 하얀 자일로스 설탕 5kg    2
8                                 하선정 알찬 알마늘 1kg    2
9                                 아메리칸 와플믹스 10kg    2
10                                   하선정 장아찌 1kg    2
11                            백설 프락토 올리고당 2.45kg    2
12                              육수가득 소불고기 전골_밀키트    2
13                                    고메 간식 골라담기    2
14                             쿠캣 티라미수쏙 찹쌀떡 540g    2
15                                  비비고칩 오리지널40g    2
16                             하선정 까나리액젓 실속형 3kg    2
17                                   백설 갈색설탕 5Kg    2
18                               고메 중화게살볶음밥 420g    2
19                          아메리칸 핫도그용 포크소시지 950g    2
20                             한뿌리 홍삼수 340mlX20개    2
21                               해찬들 찰골드고추장 14kg    2
22                             하선정 까나리액젓 실속형 9kg    2
23                                백설 2배사과식초 1.8L    2
24                                  고메 중화짜장 760g    2
25                           해찬들 새콤달콤 초고추장 1050g    2
26                             백설 요리 올리고당 2.45kg    2
27                              해찬들 태양초고추장 6.5kg    2
28                                 백설 옥수수전분 20kg    2
29                            해찬들 태양초고추장 14kg(캔)    2
30                              하선정 멸치액젓 실속형 9kg    2
31                           이츠웰 빵가루왕새우튀김300gx3개    2
32                                     요리당2.45kg    2
33                             쿠캣 딸기쏙우유 찹쌀떡 540g    2
34  [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)    2
35                              중화요리간짜장 2인분 630g    2
36                                      배터믹스20kg    2
37                             해찬들 사계절쌈장 골드 14kg    2
38                            백설 브라운 자일로스 설탕 5Kg    2
39                     [고메x덕후선생] 고메 호남식납육초반 420g    2
40                    크레잇 꼬마핫도그 1.25kg(50gX 25개)    2
41                               케이준프라이 냉동감자 2kg    2
42                              고메 중화소고기볶음밥 420g    2
43                                  하선정 통오이지 1kg    2
44                                  다시다 쇠고기 25kg    2
45                                 해찬들 재래식된장 3kg    2
46                              해쉬브라운 냉동감자 1.2kg    2
47                           얼큰 버섯 비비고 만두 전골_밀키트    2
48                           해물 짬뽕 비비고 만두 전골_밀키트    2
49  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)    2
50                   [고메x덕후선생] 고메 덕후선생 마장반면 425g    2
51                                  고메 중화짬뽕 652g    2
52                                   중력 밀가루 10kg    2
53                         이츠웰 빵가루코코넛새우튀김200gx3개    2
54                                 해찬들 사계절쌈장 3kg    2
55                                 한뿌리 홍삼수 340ml    2

In [35]:
cj_cate2_lst = cj_cate2.product_name.values.tolist()
cj_cate2_lst

['프레시웨이 간식/아이스크림 골라담기',
 '백설 하얀설탕 5kg',
 '울트라레귤러컷 냉동감자 2kg',
 '고메 삼선해물볶음밥 420g',
 '해찬들 100% 우리쌀 매운 태양초 고추장 3kg',
 '비비고칩 스위트콘40G',
 '비비고칩 포테이토40g',
 '백설 하얀 자일로스 설탕 5kg',
 '하선정 알찬 알마늘 1kg',
 '아메리칸 와플믹스 10kg',
 '하선정 장아찌 1kg',
 '백설 프락토 올리고당 2.45kg',
 '육수가득 소불고기 전골_밀키트',
 '고메 간식 골라담기',
 '쿠캣 티라미수쏙 찹쌀떡 540g',
 '비비고칩 오리지널40g',
 '하선정 까나리액젓 실속형 3kg',
 '백설 갈색설탕 5Kg',
 '고메 중화게살볶음밥 420g',
 '아메리칸 핫도그용 포크소시지 950g',
 '한뿌리 홍삼수 340mlX20개',
 '해찬들 찰골드고추장 14kg',
 '하선정 까나리액젓 실속형 9kg',
 '백설 2배사과식초 1.8L',
 '고메 중화짜장 760g',
 '해찬들 새콤달콤 초고추장 1050g',
 '백설 요리 올리고당 2.45kg',
 '해찬들 태양초고추장 6.5kg',
 '백설 옥수수전분 20kg',
 '해찬들 태양초고추장 14kg(캔)',
 '하선정 멸치액젓 실속형 9kg',
 '이츠웰 빵가루왕새우튀김300gx3개',
 '요리당2.45kg',
 '쿠캣 딸기쏙우유 찹쌀떡 540g',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)',
 '중화요리간짜장 2인분 630g',
 '배터믹스20kg',
 '해찬들 사계절쌈장 골드 14kg',
 '백설 브라운 자일로스 설탕 5Kg',
 '[고메x덕후선생] 고메 호남식납육초반 420g',
 '크레잇 꼬마핫도그 1.25kg(50gX 25개)',
 '케이준프라이 냉동감자 2kg',
 '고메 중화소고기볶음밥 420g',
 '하선정 통오이지 1kg',
 '다시다 쇠고기 25kg',
 '해찬들 재래식된장 3kg',
 '해쉬브라운 냉동감자 1.2kg',
 '얼큰 버섯 비비고 만두 전골_밀키트',
 '해물 짬뽕 비비고 만두 전골_밀키트',
 '[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)',
 '[고메x덕후선생] 고메 덕후선생 마장반면 425g',
 '고메 중화짬뽕 652g',
 '중력 밀가루 10kg',
 '이츠웰 빵가루코코넛새우튀김200gx3개',
 '해찬들 사계절쌈장 3kg',
 '한뿌리 홍삼수 340ml']

In [36]:
cj_cate2_lst = '|'.join(cj_cate2_lst)
cj_2 = cj[cj['product_name'].str.contains(cj_cate2_lst)].sort_values(by='product_name', ascending=False)
cj_2

C:\Users\USER\AppData\Local\Temp\ipykernel_24332\3077485657.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cj_2 = cj[cj['product_name'].str.contains(cj_cate2_lst)].sort_values(by='product_name', ascending=False)

      category                                  product_name
1689        11                              해찬들 태양초고추장 6.5kg
1535        10                              해찬들 태양초고추장 6.5kg
1715        11                               해찬들 찰골드고추장 14kg
1630        10                               해찬들 찰골드고추장 14kg
1395        10                                 해찬들 재래식된장 3kg
...        ...                                           ...
589          4                                    고메 간식 골라담기
1081         7  [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)
255          0  [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)
1078         7  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)
232          0  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)

[105 rows x 2 columns]

In [37]:
cj_2['category'].value_counts()

11    30
10    23
0     11
4     10
3     10
6      8
7      5
2      3
8      2
9      2
1      1
Name: category, dtype: int64

In [38]:
# 대용량으로 겹치는 제품 삭제
cj_2_11 = cj_2[cj_2['category']==11]
cj_2_11

      category                 product_name
1689        11             해찬들 태양초고추장 6.5kg
1715        11              해찬들 찰골드고추장 14kg
1649        11                해찬들 재래식된장 3kg
1639        11          해찬들 새콤달콤 초고추장 1050g
1698        11            해찬들 사계절쌈장 골드 14kg
1656        11                해찬들 사계절쌈장 3kg
1666        11  해찬들 100% 우리쌀 매운 태양초 고추장 3kg
1642        11             해쉬브라운 냉동감자 1.2kg
1650        11                 하선정 통오이지 1kg
1685        11                  하선정 장아찌 1kg
1681        11               하선정 알찬 알마늘 1kg
1693        11             하선정 멸치액젓 실속형 9kg
1713        11            하선정 까나리액젓 실속형 9kg
1688        11            하선정 까나리액젓 실속형 3kg
1643        11              케이준프라이 냉동감자 2kg
1687        11                  중력 밀가루 10kg
1661        11             울트라레귤러컷 냉동감자 2kg
1701        11                    요리당2.45kg
1644        11         아메리칸 핫도그용 포크소시지 950g
1672        11               아메리칸 와플믹스 10kg
1647        11                  백설 하얀설탕 5kg
1682        11            백설 하얀 자일로스 설탕 5kg
1694        11           백설 프락토 올리고당 2.45kg
1670        11            백설 요리 올리고당 2.45kg
1679        11                백설 옥수수전분 20kg
1676        11           백설 브라운 자일로스 설탕 5Kg
1652        11                  백설 갈색설탕 5Kg
1648        11               백설 2배사과식초 1.8L
1683        11                     배터믹스20kg
1684        11                 다시다 쇠고기 25kg

In [39]:
cj_2_11_lst = cj_2_11.product_name.values.tolist()
cj_2_11_lst

['해찬들 태양초고추장 6.5kg',
 '해찬들 찰골드고추장 14kg',
 '해찬들 재래식된장 3kg',
 '해찬들 새콤달콤 초고추장 1050g',
 '해찬들 사계절쌈장 골드 14kg',
 '해찬들 사계절쌈장 3kg',
 '해찬들 100% 우리쌀 매운 태양초 고추장 3kg',
 '해쉬브라운 냉동감자 1.2kg',
 '하선정 통오이지 1kg',
 '하선정 장아찌 1kg',
 '하선정 알찬 알마늘 1kg',
 '하선정 멸치액젓 실속형 9kg',
 '하선정 까나리액젓 실속형 9kg',
 '하선정 까나리액젓 실속형 3kg',
 '케이준프라이 냉동감자 2kg',
 '중력 밀가루 10kg',
 '울트라레귤러컷 냉동감자 2kg',
 '요리당2.45kg',
 '아메리칸 핫도그용 포크소시지 950g',
 '아메리칸 와플믹스 10kg',
 '백설 하얀설탕 5kg',
 '백설 하얀 자일로스 설탕 5kg',
 '백설 프락토 올리고당 2.45kg',
 '백설 요리 올리고당 2.45kg',
 '백설 옥수수전분 20kg',
 '백설 브라운 자일로스 설탕 5Kg',
 '백설 갈색설탕 5Kg',
 '백설 2배사과식초 1.8L',
 '배터믹스20kg',
 '다시다 쇠고기 25kg']

In [40]:
cj_2_11_lst = '|'.join(cj_2_11_lst)
cj.drop(cj[(cj['product_name'].str.contains(cj_2_11_lst))&(cj['category']==11)].index, inplace=True)
cj

      category                     product_name
0            0    [생산직송]비비고 포기배추김치 5kg+총각김치 2kg
1            0  [생산직송]비비고 포기김치 5kg+열무김치 900gX2개
2            0                 비비고 순살 고등어구이 60g
3            0       비비고 소고기 미역국 500gx18개(1box)
4            0              비비고 소고기 미역국 500gX6개
...        ...                              ...
1722        11                      크레잇 베이컨 1kg
1723        11                           요리당5kg
1724        11                  크레잇 햄야채볶음밥 280g
1725        11                쉐프솔루션 고기팡팡 미트볼1kg
1726        11            크레잇 생활반찬 고추송송 고기말이1kg

[1694 rows x 2 columns]

In [41]:
cj_cate = cj['product_name'].value_counts().to_frame()
cj_cate.reset_index(drop=False, inplace=True)
cj_cate.columns = ['product_name', 'num']
cj_cate

                                      product_name  num
0                              프레시웨이 간식/아이스크림 골라담기    3
1                                    한뿌리 홍삼수 340ml    2
2                                 중화요리간짜장 2인분 630g    2
3     [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)    2
4                              해물 짬뽕 비비고 만두 전골_밀키트    2
...                                            ...  ...
1662                                비비고 왕만두490gx2개    1
1663                             비비고 청양고추 찐만두 168g    1
1664                         크레잇 테이스티박스 만두그라탕 240g    1
1665                               비비고 버섯소고기만두618g    1
1666                         크레잇 생활반찬 고추송송 고기말이1kg    1

[1667 rows x 2 columns]

In [42]:
cj_cate2 = cj_cate[cj_cate['num']>=2]
cj_cate2

                                    product_name  num
0                            프레시웨이 간식/아이스크림 골라담기    3
1                                  한뿌리 홍삼수 340ml    2
2                               중화요리간짜장 2인분 630g    2
3   [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)    2
4                            해물 짬뽕 비비고 만두 전골_밀키트    2
5                                   고메 중화짬뽕 652g    2
6                      [고메x덕후선생] 고메 호남식납육초반 420g    2
7                             해찬들 태양초고추장 14kg(캔)    2
8                               육수가득 소불고기 전골_밀키트    2
9                                   비비고칩 포테이토40g    2
10                           이츠웰 빵가루왕새우튀김300gx3개    2
11                                  비비고칩 스위트콘40G    2
12                    크레잇 꼬마핫도그 1.25kg(50gX 25개)    2
13                                  고메 중화짜장 760g    2
14                             쿠캣 티라미수쏙 찹쌀떡 540g    2
15                               고메 삼선해물볶음밥 420g    2
16                         이츠웰 빵가루코코넛새우튀김200gx3개    2
17  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)    2
18                           얼큰 버섯 비비고 만두 전골_밀키트    2
19                               고메 중화게살볶음밥 420g    2
20                             쿠캣 딸기쏙우유 찹쌀떡 540g    2
21                              고메 중화소고기볶음밥 420g    2
22                                    고메 간식 골라담기    2
23                   [고메x덕후선생] 고메 덕후선생 마장반면 425g    2
24                             한뿌리 홍삼수 340mlX20개    2
25                                  비비고칩 오리지널40g    2

In [43]:
cj_cate2_lst = cj_cate2.product_name.values.tolist()
cj_cate2_lst

['프레시웨이 간식/아이스크림 골라담기',
 '한뿌리 홍삼수 340ml',
 '중화요리간짜장 2인분 630g',
 '[택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)',
 '해물 짬뽕 비비고 만두 전골_밀키트',
 '고메 중화짬뽕 652g',
 '[고메x덕후선생] 고메 호남식납육초반 420g',
 '해찬들 태양초고추장 14kg(캔)',
 '육수가득 소불고기 전골_밀키트',
 '비비고칩 포테이토40g',
 '이츠웰 빵가루왕새우튀김300gx3개',
 '비비고칩 스위트콘40G',
 '크레잇 꼬마핫도그 1.25kg(50gX 25개)',
 '고메 중화짜장 760g',
 '쿠캣 티라미수쏙 찹쌀떡 540g',
 '고메 삼선해물볶음밥 420g',
 '이츠웰 빵가루코코넛새우튀김200gx3개',
 '[택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)',
 '얼큰 버섯 비비고 만두 전골_밀키트',
 '고메 중화게살볶음밥 420g',
 '쿠캣 딸기쏙우유 찹쌀떡 540g',
 '고메 중화소고기볶음밥 420g',
 '고메 간식 골라담기',
 '[고메x덕후선생] 고메 덕후선생 마장반면 425g',
 '한뿌리 홍삼수 340mlX20개',
 '비비고칩 오리지널40g']

In [44]:
cj_cate2_lst = '|'.join(cj_cate2_lst)
cj_2 = cj[cj['product_name'].str.contains(cj_cate2_lst)].sort_values(by='product_name', ascending=False)
cj_2

C:\Users\USER\AppData\Local\Temp\ipykernel_24332\3077485657.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cj_2 = cj[cj['product_name'].str.contains(cj_cate2_lst)].sort_values(by='product_name', ascending=False)

      category                                  product_name
1082         7                           해물 짬뽕 비비고 만두 전골_밀키트
256          0                           해물 짬뽕 비비고 만두 전골_밀키트
1221         9                             한뿌리 홍삼수 340mlX20개
1135         8                             한뿌리 홍삼수 340mlX20개
1236         9                                 한뿌리 홍삼수 340ml
1162         8                                 한뿌리 홍삼수 340ml
392          2                           프레시웨이 간식/아이스크림 골라담기
628          4                           프레시웨이 간식/아이스크림 골라담기
546          3                           프레시웨이 간식/아이스크림 골라담기
687          4                             쿠캣 티라미수쏙 찹쌀떡 540g
1011         6                             쿠캣 티라미수쏙 찹쌀떡 540g
1028         6                             쿠캣 딸기쏙우유 찹쌀떡 540g
705          4                             쿠캣 딸기쏙우유 찹쌀떡 540g
568          3                              중화요리간짜장 2인분 630g
990          6                              중화요리간짜장 2인분 630g
414          2                         이츠웰 빵가루코코넛새우튀김200gx3개
573          3                         이츠웰 빵가루코코넛새우튀김200gx3개
407          2                           이츠웰 빵가루왕새우튀김300gx3개
572          3                           이츠웰 빵가루왕새우튀김300gx3개
1059         7                              육수가득 소불고기 전골_밀키트
97           0                              육수가득 소불고기 전골_밀키트
231          0                           얼큰 버섯 비비고 만두 전골_밀키트
1079         7                           얼큰 버섯 비비고 만두 전골_밀키트
197          0                                  비비고칩 포테이토40g
637          4                                  비비고칩 포테이토40g
614          4                                  비비고칩 오리지널40g
155          0                                  비비고칩 오리지널40g
638          4                                  비비고칩 스위트콘40G
198          0                                  비비고칩 스위트콘40G
750          6                                  고메 중화짬뽕 652g
474          3                                  고메 중화짬뽕 652g
509          3                                  고메 중화짜장 760g
819          6                                  고메 중화짜장 760g
929          6                              고메 중화소고기볶음밥 420g
548          3                              고메 중화소고기볶음밥 420g
870          6                               고메 중화게살볶음밥 420g
527          3                               고메 중화게살볶음밥 420g
899          6                               고메 삼선해물볶음밥 420g
538          3                               고메 삼선해물볶음밥 420g
496          3                                    고메 간식 골라담기
589          4                                    고메 간식 골라담기
255          0  [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)
1081         7  [택배배송] 해물 짬뽕 비비고 만두 전골_밀키트 (유통기한 23.09.14까지)
1078         7  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)
232          0  [택배배송] 얼큰 버섯 비비고 만두 전골_밀키트 (유통기한 23.08.30까지)

In [45]:
# 나머지는 랜덤으로 삭제
cj = cj.drop_duplicates(subset=['product_name'], keep='last') #first
cj

      category                     product_name
0            0    [생산직송]비비고 포기배추김치 5kg+총각김치 2kg
1            0  [생산직송]비비고 포기김치 5kg+열무김치 900gX2개
2            0                 비비고 순살 고등어구이 60g
3            0       비비고 소고기 미역국 500gx18개(1box)
4            0              비비고 소고기 미역국 500gX6개
...        ...                              ...
1722        11                      크레잇 베이컨 1kg
1723        11                           요리당5kg
1724        11                  크레잇 햄야채볶음밥 280g
1725        11                쉐프솔루션 고기팡팡 미트볼1kg
1726        11            크레잇 생활반찬 고추송송 고기말이1kg

[1667 rows x 2 columns]

In [46]:
cj['product_name'].value_counts()

[생산직송]비비고 포기배추김치 5kg+총각김치 2kg               1
메티에 리치바닐라시럽 700ml(펌프세트)                     1
팻다운 파워번 스페셜 가르시니아 100mlX10병                 1
리턴업 팻다운 톡 깔라만시맛(10포)                        1
닥터뉴트리 멀티 위드 이너뷰티 30포(1개월)(유통기한:23.09.20)    1
                                           ..
비비고 찐만두 392gX2개                             1
이츠웰 빵가루코코넛새우튀김200gx3개                       1
이츠웰 빵가루왕새우튀김300gx3개                         1
[식물성] 플랜테이블 김치왕교자420g                       1
크레잇 생활반찬 고추송송 고기말이1kg                       1
Name: product_name, Length: 1667, dtype: int64

In [47]:
df

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0

In [48]:
# 카테고리 변수 생성
cj_new = pd.merge(df, cj, on='product_name', how='left')
cj_new

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0,NaN
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0,1.0
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0,3.0
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0,3.0
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0,NaN
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1,NaN
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1,NaN
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0,5.0
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0,8.0

In [49]:
cj_new.isnull().sum()

scd                  0
product_name         0
net_order_qty        0
net_order_amt        0
gender               0
age_grp              0
employee_yn          0
order_date           0
prime_yn             0
weekday              0
weekday2             0
event_product        0
category         21904
dtype: int64

In [50]:
# 결측치 12로 대체
cj_new = cj_new.fillna(12)

In [51]:
cj_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45875 entries, 0 to 45874
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            45875 non-null  int64
 1   product_name   45875 non-null  object
 2   net_order_qty  45875 non-null  int64
 3   net_order_amt  45875 non-null  float64
 4   gender         45875 non-null  int64
 5   age_grp        45875 non-null  int64
 6   employee_yn    45875 non-null  object
 7   order_date     45875 non-null  int64
 8   prime_yn       45875 non-null  int64
 9   weekday        45875 non-null  int64
 10  weekday2       45875 non-null  int32
 11  event_product  45875 non-null  int32
 12  category       45875 non-null  float64
dtypes: float64(2), int32(2), int64(7), object(2)
memory usage: 4.5+ MB

In [52]:
cj_new = cj_new.astype({'category':'int'})
cj_new

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0,12
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0,12
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1,12
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1,12
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0,8

In [53]:
cj_new['category'].value_counts()

12    21904
6      5818
0      5715
3      3566
10     3180
4      1903
5      1682
1      1346
9       357
11      204
8       113
2        87
Name: category, dtype: int64

In [54]:
# 배정되지 않은 카테고리
# list_10 첫번째
list_10 = ['1kg', '15kg', '2kg', '3.6L', '5kg', '1.8L', '1.2kg', '1.4kg', '1.5L', '1.25kg', '3kg', '20kg', '6.5kg', 
           '14kg', '1.05kg', '1.45kg', '2.45kg', '11kg', '1.3kg', '9kg', '25kg']
# list_6 두번째
list_6 = ['포도씨유', '양념', '올리브유', '쌈장', '소스', '다진마늘', '고추장', '참치액', '가루', '기름', '맛술',
          '드레싱', '시즈닝', '카놀라유', '간장', '올리브유', '다시마', '요리유', '비빔장', '된장', '식초', '다시다',
          '올리고당', '설탕', '액젓', '믹스', '천일염', '참깨', '굴소스', '가루', '옥수수유', '해바라기씨유', '쌀엿']
# list_8 세번째
list_8 = ['오리', '배', '고구마', '망고', '블루베리', '오렌지', '양갈비', '육포', '랍스터', '삼겹살', '목심살', '사과', 
          '토마토', '키위', '매실', '항정살', '한우', '청도', '스위트콘', '대추', '명란젓', '새우튀김', '황도', '양파', 
          '갈비','감자', '한돈', '날개', '닭', '야자', '버섯', '멜론']

list_0 = ['햇반', '죽', '냉면', '짬뽕', '동치미', '메밀', '우동', '잡채', '짜장', '밀면', '파스타', '쌀국수', 
          '야끼소바', '콩국수', '소면', '당면', '죽', '스파게티', '덮밥', '쫄면', '수프', '마라탕', '리조또', 
          '떡볶이떡', '칼국수', '뇨끼', '밸런스밀', '병아리콩']
list_1 = ['김치', '구이', '탕', '미역국', '육개장', '국물', '두부', '찌개', '무국', '국', '김', '유부', '단무지', 
          '메추리알', '쌈무', '볶음', '어묵', '조림', '밥이랑', '육수', '조림', '마늘', '란', '오이지', '장아찌']
list_2 = ['피자', '치킨', '교자', '순살', '너겟', '만두', '탕수육', '봉', '구이', '윙', '칠리새우', '깐풍기', 
          '닭강정', '새우튀김']
list_3 = ['츄러스', '밤', '핫도그', '쁘띠첼', '떡볶이' '바삭칩', '맥스봉', '핫랩', '면볶이', '고메 베이커리', 
          '냉동감자', '팝콘', '찹쌀떡', '스크림', '아몬드']
list_4 = ['스테이크', '카츠', '미트볼', '떡갈비', '동그랑땡', '까스', '불고기', '완자', '너비아니', '고기말이', '바베큐바']
list_5 = ['닭가슴살', '햄', '베이컨', '후랑크', '비엔나', '스팸', '통삼겹', '소시지', '킬바사', '더블에이징', '부어스트', '']
list_7 = ['오메가', '루테인', '유산균', '영양', '전립소', '비타민', '팻다운', '리턴업', '바이오코어', '홍삼', '흑삼',
          '콜라겐', '멀티', '배도라지', '양배추', '한뿌리', '닥터뉴트리', '환심']
list_9 = ['아이시스', '트레비', '삼다수', '콜라', '석류', '토레타', '컨디션', '사이다', '얼티브', 'W차', '파우더', '청', 
          '미초', '커피', '시럽', '식혜', '아이누리', '플리또', '메티에', '보리']
list_11 = ['쿡킷', '밀키트']

In [55]:
list_10 = '|'.join(list_10)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_10)), 'category'] = 10
cj_new

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0,12
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0,12
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1,12
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1,12
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0,8

In [56]:
cj_new['category'].value_counts()

12    20449
6      5818
0      5715
10     4635
3      3566
4      1903
5      1682
1      1346
9       357
11      204
8       113
2        87
Name: category, dtype: int64

In [57]:
list_6 = '|'.join(list_6)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_6)), 'category'] = 6

In [58]:
list_8 = '|'.join(list_8)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_8)), 'category'] = 8

In [59]:
list_0 = '|'.join(list_0)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_0)), 'category'] = 0

In [60]:
list_1 = '|'.join(list_1)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_1)), 'category'] = 1

In [61]:
list_2 = '|'.join(list_2)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_2)), 'category'] = 2

In [62]:
list_3 = '|'.join(list_3)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_3)), 'category'] = 3

In [63]:
list_4 = '|'.join(list_4)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_4)), 'category'] = 4

In [64]:
list_5 = '|'.join(list_5)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_5)), 'category'] = 5

In [65]:
list_7 = '|'.join(list_7)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_7)), 'category'] = 7

In [66]:
list_9 = '|'.join(list_9)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_9)), 'category'] = 9

In [67]:
list_11 = '|'.join(list_11)
cj_new.loc[(cj_new['category']==12)&(cj_new['product_name'].str.contains(list_11)), 'category'] = 11
cj_new

,scd,product_name,net_order_qty,net_order_amt,gender,age_grp,employee_yn,order_date,prime_yn,weekday,weekday2,event_product,category
0,20230124153976,잔칫집 식혜 240ml 30입,1,9.803170,0,2,Y,20230124,0,1,1,0,5
1,20230124155563,백설 한입쏙 비엔나 120g*2,1,8.256607,1,3,Y,20230124,0,1,1,0,1
2,20230125158386,비비고 왕교자 1.05kg,1,9.348449,0,4,N,20230125,0,2,1,0,3
3,20230126164638,고메 바삭쫄깃한 탕수육 900g,1,9.667259,0,4,N,20230126,1,3,1,0,3
4,20230125159705,햇반 매일잡곡밥210g,20,9.994653,1,4,N,20230125,1,2,1,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,고메 거멍 모짜체다핫도그 340g,1,8.648397,1,5,Y,20230102,1,0,1,0,3
45871,20230102972720,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,3,N,20230102,0,0,1,1,6
45872,20230101964953,[앱전용특가]비비고 차돌된장찌개 460gX4개,1,9.639327,0,4,N,20230101,0,6,0,1,6
45873,20230101970142,[식물성]고메 플랜테이블 함박스테이크 150g,1,7.939872,1,4,Y,20230101,1,6,0,0,5
45874,20230101966180,리턴업 전립소 쏘팔메토 골드 1000mgX60캡슐(2개월),1,10.406140,1,5,N,20230101,1,6,0,0,8

In [68]:
# 12로 대체했던 결측치가 모두 사라짐
cj_new['category'].value_counts()

0     9909
6     7940
1     6272
5     5368
10    4635
3     4378
4     2917
8     2344
2     1551
9      357
11     204
Name: category, dtype: int64

In [69]:
# weekday2로 선택
cj_new = cj_new.drop(['order_date', 'weekday', 'product_name'], axis=1)
cj_new

,scd,net_order_qty,net_order_amt,gender,age_grp,employee_yn,prime_yn,weekday2,event_product,category
0,20230124153976,1,9.803170,0,2,Y,0,1,0,5
1,20230124155563,1,8.256607,1,3,Y,0,1,0,1
2,20230125158386,1,9.348449,0,4,N,0,1,0,3
3,20230126164638,1,9.667259,0,4,N,1,1,0,3
4,20230125159705,20,9.994653,1,4,N,1,1,0,6
...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,1,8.648397,1,5,Y,1,1,0,3
45871,20230102972720,1,9.639327,0,3,N,0,1,1,6
45872,20230101964953,1,9.639327,0,4,N,0,0,1,6
45873,20230101970142,1,7.939872,1,4,Y,1,0,0,5
45874,20230101966180,1,10.406140,1,5,N,1,0,0,8

In [70]:
cj_new['most_product'] = cj_new['category']

In [71]:
cj_new = cj_new.rename(columns={'weekday2': 'order_date', 'net_order_qty': 'total_qty', 'net_order_amt': 'total_amt',
                               'category': 'num_category'})
cj_new

,scd,total_qty,total_amt,gender,age_grp,employee_yn,prime_yn,order_date,event_product,num_category,most_product
0,20230124153976,1,9.803170,0,2,Y,0,1,0,5,5
1,20230124155563,1,8.256607,1,3,Y,0,1,0,1,1
2,20230125158386,1,9.348449,0,4,N,0,1,0,3,3
3,20230126164638,1,9.667259,0,4,N,1,1,0,3,3
4,20230125159705,20,9.994653,1,4,N,1,1,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,1,8.648397,1,5,Y,1,1,0,3,3
45871,20230102972720,1,9.639327,0,3,N,0,1,1,6,6
45872,20230101964953,1,9.639327,0,4,N,0,0,1,6,6
45873,20230101970142,1,7.939872,1,4,Y,1,0,0,5,5
45874,20230101966180,1,10.406140,1,5,N,1,0,0,8,8

- scd : 주문번호
- gender : 성별 (1 = Male; 0 = Female)
- age_grp : 나이대 (1 = 10대; 2 = 20대; 3 = 30대; 4 = 40대; 5 = 50대; 6 = 60대)
- order_date : 주문일자 (1 = 평일; 0 = 주말 및 공휴일)
- total_qty : 총 주문 수량
- total_amt : 총 주문 금액 (정규화)
- most_product : 가장 많이 주문한 카테고리 (0 = 요리; 1 = 간식; 2 = 식사; 3 = 기타)
- event_product : 이벤트 할인 제품 총 구매 횟수
- num_category : 구매 제품의 카테고리 개수
- prime_yn : 프라임 회원 유무 (1 = 프라임 회원; 0 = 일반 회원)

카테고리 축약
- 요리 : 국/김치/김/반찬/두부, 스팸/닭가슴살/소시지, 신선식품 (0, 1, 2)
- 간식 : 만두/피자/치킨, 핫도그/떡볶이/간식, 돈까스/함박/구이 (3, 4, 5)
- 식사 : 밥/죽/면, 밀키트 (6, 7)
- 기타 : 건강식품, 음료/생수/시럽, 양념/소스/가루/오일, 대용량 식자재 (8, 9, 10, 11)

In [72]:
def cate(x):
    if x==0 or x==1 or x==2 : return 0
    elif x==3 or x==4 or x==5 : return 1
    elif x==6 or x==7 : return 2
    else: return 3

In [73]:
cj_new['most_product'] = cj_new['most_product'].apply(cate)
cj_new

,scd,total_qty,total_amt,gender,age_grp,employee_yn,prime_yn,order_date,event_product,num_category,most_product
0,20230124153976,1,9.803170,0,2,Y,0,1,0,5,1
1,20230124155563,1,8.256607,1,3,Y,0,1,0,1,0
2,20230125158386,1,9.348449,0,4,N,0,1,0,3,1
3,20230126164638,1,9.667259,0,4,N,1,1,0,3,1
4,20230125159705,20,9.994653,1,4,N,1,1,0,6,2
...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,1,8.648397,1,5,Y,1,1,0,3,1
45871,20230102972720,1,9.639327,0,3,N,0,1,1,6,2
45872,20230101964953,1,9.639327,0,4,N,0,0,1,6,2
45873,20230101970142,1,7.939872,1,4,Y,1,0,0,5,1
45874,20230101966180,1,10.406140,1,5,N,1,0,0,8,3

In [74]:
cj_new['most_product'].value_counts()

0    17732
1    12663
2     7940
3     7540
Name: most_product, dtype: int64

In [75]:
cj_new['amt/qty'] = cj_new['total_amt']/cj_new['total_qty']
cj_new

,scd,total_qty,total_amt,gender,age_grp,employee_yn,prime_yn,order_date,event_product,num_category,most_product,amt/qty
0,20230124153976,1,9.803170,0,2,Y,0,1,0,5,1,9.803170
1,20230124155563,1,8.256607,1,3,Y,0,1,0,1,0,8.256607
2,20230125158386,1,9.348449,0,4,N,0,1,0,3,1,9.348449
3,20230126164638,1,9.667259,0,4,N,1,1,0,3,1,9.667259
4,20230125159705,20,9.994653,1,4,N,1,1,0,6,2,0.499733
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,1,8.648397,1,5,Y,1,1,0,3,1,8.648397
45871,20230102972720,1,9.639327,0,3,N,0,1,1,6,2,9.639327
45872,20230101964953,1,9.639327,0,4,N,0,0,1,6,2,9.639327
45873,20230101970142,1,7.939872,1,4,Y,1,0,0,5,1,7.939872
45874,20230101966180,1,10.406140,1,5,N,1,0,0,8,3,10.406140

In [76]:
cj_new = cj_new[['scd', 'gender', 'age_grp', 'order_date', 'total_qty', 'total_amt', 'most_product', 'event_product', 'num_category', 'amt/qty', 'prime_yn', 'employee_yn']]
cj_new

,scd,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn,employee_yn
0,20230124153976,0,2,1,1,9.803170,1,0,5,9.803170,0,Y
1,20230124155563,1,3,1,1,8.256607,0,0,1,8.256607,0,Y
2,20230125158386,0,4,1,1,9.348449,1,0,3,9.348449,0,N
3,20230126164638,0,4,1,1,9.667259,1,0,3,9.667259,1,N
4,20230125159705,1,4,1,20,9.994653,2,0,6,0.499733,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...
45870,20230102972321,1,5,1,1,8.648397,1,0,3,8.648397,1,Y
45871,20230102972720,0,3,1,1,9.639327,2,1,6,9.639327,0,N
45872,20230101964953,0,4,0,1,9.639327,2,1,6,9.639327,0,N
45873,20230101970142,1,4,0,1,7.939872,1,0,5,7.939872,1,Y
45874,20230101966180,1,5,0,1,10.406140,3,0,8,10.406140,1,N

### 데이터 분할

In [77]:
# 임직원 데이터
cj_y = cj_new[cj_new['employee_yn']=='Y'].reset_index(drop=True)
cj_y

,scd,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn,employee_yn
0,20230124153976,0,2,1,1,9.803170,1,0,5,9.803170,0,Y
1,20230124155563,1,3,1,1,8.256607,0,0,1,8.256607,0,Y
2,20230125160921,0,2,1,1,8.974998,1,0,4,8.974998,0,Y
3,20230125157569,1,4,1,1,8.938007,1,0,3,8.938007,1,Y
4,20230125156655,0,3,1,1,8.997518,2,0,6,8.997518,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
19800,20230102975115,1,5,1,1,11.597276,1,1,5,11.597276,0,Y
19801,20230102972321,1,5,1,1,8.702510,1,0,3,8.702510,1,Y
19802,20230101969615,0,2,0,1,11.364344,3,0,8,11.364344,1,Y
19803,20230102972321,1,5,1,1,8.648397,1,0,3,8.648397,1,Y
19804,20230101970142,1,4,0,1,7.939872,1,0,5,7.939872,1,Y

In [78]:
cj_y['num_category'].value_counts()

0     3967
6     3268
5     2993
1     2369
10    2325
3     1686
8     1128
4     1112
2      540
9      315
11     102
Name: num_category, dtype: int64

In [79]:
cj_y = cj_y.drop(['employee_yn'],axis=1).reset_index(drop=True)
cj_y

,scd,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn
0,20230124153976,0,2,1,1,9.803170,1,0,5,9.803170,0
1,20230124155563,1,3,1,1,8.256607,0,0,1,8.256607,0
2,20230125160921,0,2,1,1,8.974998,1,0,4,8.974998,0
3,20230125157569,1,4,1,1,8.938007,1,0,3,8.938007,1
4,20230125156655,0,3,1,1,8.997518,2,0,6,8.997518,0
...,...,...,...,...,...,...,...,...,...,...,...
19800,20230102975115,1,5,1,1,11.597276,1,1,5,11.597276,0
19801,20230102972321,1,5,1,1,8.702510,1,0,3,8.702510,1
19802,20230101969615,0,2,0,1,11.364344,3,0,8,11.364344,1
19803,20230102972321,1,5,1,1,8.648397,1,0,3,8.648397,1
19804,20230101970142,1,4,0,1,7.939872,1,0,5,7.939872,1

In [80]:
cj_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19805 entries, 0 to 19804
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            19805 non-null  int64
 1   gender         19805 non-null  int64
 2   age_grp        19805 non-null  int64
 3   order_date     19805 non-null  int32
 4   total_qty      19805 non-null  int64
 5   total_amt      19805 non-null  float64
 6   most_product   19805 non-null  int64
 7   event_product  19805 non-null  int32
 8   num_category   19805 non-null  int32
 9   amt/qty        19805 non-null  float64
 10  prime_yn       19805 non-null  int64
dtypes: float64(2), int32(3), int64(6)
memory usage: 1.4 MB

In [81]:
cj_y = cj_y.astype({'num_category': 'object'})

In [82]:
cj_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19805 entries, 0 to 19804
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            19805 non-null  int64
 1   gender         19805 non-null  int64
 2   age_grp        19805 non-null  int64
 3   order_date     19805 non-null  int32
 4   total_qty      19805 non-null  int64
 5   total_amt      19805 non-null  float64
 6   most_product   19805 non-null  int64
 7   event_product  19805 non-null  int32
 8   num_category   19805 non-null  object
 9   amt/qty        19805 non-null  float64
 10  prime_yn       19805 non-null  int64
dtypes: float64(2), int32(2), int64(6), object(1)
memory usage: 1.5+ MB

In [83]:
# 주문번호 별로 합치기
# most_product 가중치?
# random하지만 3개가 겹치는 경우?
cj_y_grp = cj_y.groupby('scd').agg({'gender': pd.Series.mode,
                                   'age_grp': pd.Series.mode,
                                   'order_date': pd.Series.mode,
                                   'total_qty': 'sum',
                                   'total_amt': 'sum',
                                   'most_product': pd.Series.mode,
                                   'event_product': 'sum',
                                   'num_category': pd.Series.nunique,
                                   'amt/qty': 'mean', 
                                   'prime_yn': pd.Series.mode})
cj_y_grp

,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn
scd,,,,,,,,,,
20230101963226,1,3,0,6,39.433806,2,2,2,7.609629,0
20230101963235,0,4,0,2,19.234566,"[0, 1]",2,2,9.617283,1
20230101963247,1,3,0,6,45.516855,"[0, 1]",0,3,8.070212,1
20230101963251,0,3,0,2,10.845621,3,0,1,5.422811,1
20230101963253,1,2,0,6,47.014742,1,0,3,8.445540,1
...,...,...,...,...,...,...,...,...,...,...
20230131216567,0,5,1,6,27.652922,0,1,2,5.733350,1
20230131216610,1,3,1,12,81.994470,0,6,7,8.342528,1
20230131216674,1,4,1,4,37.317843,1,0,2,9.329461,0
20230131216734,1,5,1,3,29.500314,0,3,3,9.833438,1
20230131216857,1,5,1,5,43.364081,0,4,4,8.672816,1

In [84]:
cj_y_grp['most_product'].value_counts()

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexes\base.py:5291: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return key in self._engine
C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexes\base.py:5291: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return key in self._engine

1         1778
0         1178
3          741
2          473
[0, 2]       1
          ...
[0, 1]       1
[0, 1]       1
[0, 1]       1
[0, 3]       1
[2, 3]       1
Name: most_product, Length: 547, dtype: int64

In [85]:
import random
cj_y_grp = cj_y.groupby('scd').agg({'gender': pd.Series.mode,
                                   'age_grp': pd.Series.mode,
                                   'order_date': pd.Series.mode,
                                   'total_qty': 'sum',
                                   'total_amt': 'sum',
                                   'most_product': lambda x: pd.Series.mode(x)[random.randrange(0, 1)],
                                   'event_product': 'sum',
                                   'num_category': pd.Series.nunique,
                                   'amt/qty': 'mean',
                                   'prime_yn': pd.Series.mode})
cj_y_grp

,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn
scd,,,,,,,,,,
20230101963226,1,3,0,6,39.433806,2,2,2,7.609629,0
20230101963235,0,4,0,2,19.234566,0,2,2,9.617283,1
20230101963247,1,3,0,6,45.516855,0,0,3,8.070212,1
20230101963251,0,3,0,2,10.845621,3,0,1,5.422811,1
20230101963253,1,2,0,6,47.014742,1,0,3,8.445540,1
...,...,...,...,...,...,...,...,...,...,...
20230131216567,0,5,1,6,27.652922,0,1,2,5.733350,1
20230131216610,1,3,1,12,81.994470,0,6,7,8.342528,1
20230131216674,1,4,1,4,37.317843,1,0,2,9.329461,0
20230131216734,1,5,1,3,29.500314,0,3,3,9.833438,1
20230131216857,1,5,1,5,43.364081,0,4,4,8.672816,1

In [86]:
cj_y_grp = cj_y_grp.astype({'most_product': 'object'})

In [87]:
# most_product 원핫인코딩
cj_y_grp = pd.get_dummies(cj_y_grp, columns = ['most_product'])
cj_y_grp

C:\Users\USER\AppData\Local\Temp\ipykernel_24332\862462954.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cj_y_grp = pd.get_dummies(cj_y_grp, columns = ['most_product'])

,gender,age_grp,order_date,total_qty,total_amt,event_product,num_category,amt/qty,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963226,1,3,0,6,39.433806,2,2,7.609629,0,0,0,1,0
20230101963235,0,4,0,2,19.234566,2,2,9.617283,1,1,0,0,0
20230101963247,1,3,0,6,45.516855,0,3,8.070212,1,1,0,0,0
20230101963251,0,3,0,2,10.845621,0,1,5.422811,1,0,0,0,1
20230101963253,1,2,0,6,47.014742,0,3,8.445540,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216567,0,5,1,6,27.652922,1,2,5.733350,1,1,0,0,0
20230131216610,1,3,1,12,81.994470,6,7,8.342528,1,1,0,0,0
20230131216674,1,4,1,4,37.317843,0,2,9.329461,0,0,1,0,0
20230131216734,1,5,1,3,29.500314,3,3,9.833438,1,1,0,0,0
20230131216857,1,5,1,5,43.364081,4,4,8.672816,1,1,0,0,0

In [88]:
cj_y_grp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4713 entries, 20230101963226 to 20230131216857
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          4713 non-null   int64
 1   age_grp         4713 non-null   int64
 2   order_date      4713 non-null   int32
 3   total_qty       4713 non-null   int64
 4   total_amt       4713 non-null   float64
 5   event_product   4713 non-null   int32
 6   num_category    4713 non-null   int64
 7   amt/qty         4713 non-null   float64
 8   prime_yn        4713 non-null   int64
 9   most_product_0  4713 non-null   uint8
 10  most_product_1  4713 non-null   uint8
 11  most_product_2  4713 non-null   uint8
 12  most_product_3  4713 non-null   uint8
dtypes: float64(2), int32(2), int64(5), uint8(4)
memory usage: 349.8 KB

In [89]:
# 성별
cj_y_grp['gender'].value_counts()

1    2797
0    1916
Name: gender, dtype: int64

In [90]:
# 나이대
cj_y_grp['age_grp'].value_counts()

3    1840
4    1343
2     759
5     719
6      49
1       3
Name: age_grp, dtype: int64

In [91]:
# 주문일자
cj_y_grp['order_date'].value_counts()

1    2951
0    1762
Name: order_date, dtype: int64

In [92]:
# 이벤트 할인 제품 총 구매 개수
cj_y_grp['event_product'].value_counts()

0     2067
1     1600
2      453
3      195
4      130
5       61
6       56
7       32
8       26
9       23
11      15
10      12
12      11
14       8
13       4
22       4
17       4
15       2
18       2
20       2
23       2
27       1
21       1
16       1
19       1
Name: event_product, dtype: int64

In [93]:
# 구매 제품의 카테고리 개수
cj_y_grp['num_category'].value_counts()

1    2467
2     778
3     497
4     367
5     276
6     178
7      89
8      46
9      15
Name: num_category, dtype: int64

In [94]:
cj_y_grp

,gender,age_grp,order_date,total_qty,total_amt,event_product,num_category,amt/qty,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963226,1,3,0,6,39.433806,2,2,7.609629,0,0,0,1,0
20230101963235,0,4,0,2,19.234566,2,2,9.617283,1,1,0,0,0
20230101963247,1,3,0,6,45.516855,0,3,8.070212,1,1,0,0,0
20230101963251,0,3,0,2,10.845621,0,1,5.422811,1,0,0,0,1
20230101963253,1,2,0,6,47.014742,0,3,8.445540,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216567,0,5,1,6,27.652922,1,2,5.733350,1,1,0,0,0
20230131216610,1,3,1,12,81.994470,6,7,8.342528,1,1,0,0,0
20230131216674,1,4,1,4,37.317843,0,2,9.329461,0,0,1,0,0
20230131216734,1,5,1,3,29.500314,3,3,9.833438,1,1,0,0,0
20230131216857,1,5,1,5,43.364081,4,4,8.672816,1,1,0,0,0

In [95]:
cj_y_grp.to_csv('cj_y_grp.csv')

In [96]:
# 비임직원 데이터
cj_n = cj_new[cj_new['employee_yn']=='N']
cj_n

,scd,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn,employee_yn
2,20230125158386,0,4,1,1,9.348449,1,0,3,9.348449,0,N
3,20230126164638,0,4,1,1,9.667259,1,0,3,9.667259,1,N
4,20230125159705,1,4,1,20,9.994653,2,0,6,0.499733,1,N
5,20230126167696,0,3,1,1,10.125110,2,1,6,10.125110,0,N
6,20230125159705,1,4,1,20,9.994653,2,0,6,0.499733,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...
45866,20230101966635,1,3,0,1,8.659560,1,0,3,8.659560,0,N
45867,20230102974273,1,4,1,10,10.518646,0,0,1,1.051865,1,N
45871,20230102972720,0,3,1,1,9.639327,2,1,6,9.639327,0,N
45872,20230101964953,0,4,0,1,9.639327,2,1,6,9.639327,0,N
45874,20230101966180,1,5,0,1,10.406140,3,0,8,10.406140,1,N

In [97]:
cj_n = cj_n.drop(['employee_yn'],axis=1)
cj_n

,scd,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn
2,20230125158386,0,4,1,1,9.348449,1,0,3,9.348449,0
3,20230126164638,0,4,1,1,9.667259,1,0,3,9.667259,1
4,20230125159705,1,4,1,20,9.994653,2,0,6,0.499733,1
5,20230126167696,0,3,1,1,10.125110,2,1,6,10.125110,0
6,20230125159705,1,4,1,20,9.994653,2,0,6,0.499733,1
...,...,...,...,...,...,...,...,...,...,...,...
45866,20230101966635,1,3,0,1,8.659560,1,0,3,8.659560,0
45867,20230102974273,1,4,1,10,10.518646,0,0,1,1.051865,1
45871,20230102972720,0,3,1,1,9.639327,2,1,6,9.639327,0
45872,20230101964953,0,4,0,1,9.639327,2,1,6,9.639327,0
45874,20230101966180,1,5,0,1,10.406140,3,0,8,10.406140,1

In [98]:
cj_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26070 entries, 2 to 45874
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            26070 non-null  int64
 1   gender         26070 non-null  int64
 2   age_grp        26070 non-null  int64
 3   order_date     26070 non-null  int32
 4   total_qty      26070 non-null  int64
 5   total_amt      26070 non-null  float64
 6   most_product   26070 non-null  int64
 7   event_product  26070 non-null  int32
 8   num_category   26070 non-null  int32
 9   amt/qty        26070 non-null  float64
 10  prime_yn       26070 non-null  int64
dtypes: float64(2), int32(3), int64(6)
memory usage: 2.1 MB

In [99]:
cj_n = cj_n.astype({'num_category': 'object'})

In [100]:
cj_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26070 entries, 2 to 45874
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   scd            26070 non-null  int64
 1   gender         26070 non-null  int64
 2   age_grp        26070 non-null  int64
 3   order_date     26070 non-null  int32
 4   total_qty      26070 non-null  int64
 5   total_amt      26070 non-null  float64
 6   most_product   26070 non-null  int64
 7   event_product  26070 non-null  int32
 8   num_category   26070 non-null  object
 9   amt/qty        26070 non-null  float64
 10  prime_yn       26070 non-null  int64
dtypes: float64(2), int32(2), int64(6), object(1)
memory usage: 2.2+ MB

In [101]:
# 주문번호 별로 합치기
# most_product 가중치?
# random하지만 3개가 겹치는 경우?
cj_n_grp = cj_n.groupby('scd').agg({'gender': pd.Series.mode,
                                   'age_grp': pd.Series.mode,
                                   'order_date': pd.Series.mode,
                                   'total_qty': 'sum',
                                   'total_amt': 'sum',
                                   'most_product': pd.Series.mode,
                                   'event_product': 'sum',
                                   'num_category': pd.Series.nunique,
                                   'amt/qty': 'mean',
                                   'prime_yn': pd.Series.mode})
cj_n_grp

,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn
scd,,,,,,,,,,
20230101963244,0,4,0,3,10.234373,1,0,1,3.411458,1
20230101963277,1,3,0,1,9.190036,2,0,1,9.190036,1
20230101963302,0,4,0,17,83.446280,3,0,7,7.574948,0
20230101963319,1,4,0,23,73.452653,0,0,3,4.093077,0
20230101963336,0,3,0,30,119.943496,1,0,7,6.208069,1
...,...,...,...,...,...,...,...,...,...,...
20230131216709,0,4,1,6,27.526347,0,0,2,7.037744,1
20230131216756,0,4,1,3,18.314758,1,0,2,6.796144,0
20230131216771,0,4,1,2,9.125762,0,0,1,4.562881,1
20230131216842,1,3,1,1,10.176411,2,1,1,10.176411,0
20230131216844,0,4,1,8,44.927942,3,0,2,6.307187,0

In [102]:
cj_n_grp['most_product'].value_counts()

0            2300
1            1433
2             862
3             443
[1, 2, 3]       1
             ...
[0, 1]          1
[0, 2]          1
[0, 3]          1
[0, 2]          1
[0, 3]          1
Name: most_product, Length: 906, dtype: int64

In [103]:
import random
cj_n_grp = cj_n.groupby('scd').agg({'gender': pd.Series.mode,
                                   'age_grp': pd.Series.mode,
                                   'order_date': pd.Series.mode,
                                   'total_qty': 'sum',
                                   'total_amt': 'sum',
                                   'most_product': lambda x: pd.Series.mode(x)[random.randrange(0, 1)],
                                   'event_product': 'sum',
                                   'num_category': pd.Series.nunique,
                                   'amt/qty': 'mean', 
                                   'prime_yn': pd.Series.mode})
cj_n_grp

,gender,age_grp,order_date,total_qty,total_amt,most_product,event_product,num_category,amt/qty,prime_yn
scd,,,,,,,,,,
20230101963244,0,4,0,3,10.234373,1,0,1,3.411458,1
20230101963277,1,3,0,1,9.190036,2,0,1,9.190036,1
20230101963302,0,4,0,17,83.446280,3,0,7,7.574948,0
20230101963319,1,4,0,23,73.452653,0,0,3,4.093077,0
20230101963336,0,3,0,30,119.943496,1,0,7,6.208069,1
...,...,...,...,...,...,...,...,...,...,...
20230131216709,0,4,1,6,27.526347,0,0,2,7.037744,1
20230131216756,0,4,1,3,18.314758,1,0,2,6.796144,0
20230131216771,0,4,1,2,9.125762,0,0,1,4.562881,1
20230131216842,1,3,1,1,10.176411,2,1,1,10.176411,0
20230131216844,0,4,1,8,44.927942,3,0,2,6.307187,0

In [104]:
cj_n_grp = cj_n_grp.astype({'most_product': 'object'})

In [105]:
# most_product 원핫인코딩
cj_n_grp = pd.get_dummies(cj_n_grp, columns = ['most_product'])
cj_n_grp

C:\Users\USER\AppData\Local\Temp\ipykernel_24332\2010843970.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cj_n_grp = pd.get_dummies(cj_n_grp, columns = ['most_product'])

,gender,age_grp,order_date,total_qty,total_amt,event_product,num_category,amt/qty,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963244,0,4,0,3,10.234373,0,1,3.411458,1,0,1,0,0
20230101963277,1,3,0,1,9.190036,0,1,9.190036,1,0,0,1,0
20230101963302,0,4,0,17,83.446280,0,7,7.574948,0,0,0,0,1
20230101963319,1,4,0,23,73.452653,0,3,4.093077,0,1,0,0,0
20230101963336,0,3,0,30,119.943496,0,7,6.208069,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216709,0,4,1,6,27.526347,0,2,7.037744,1,1,0,0,0
20230131216756,0,4,1,3,18.314758,0,2,6.796144,0,0,1,0,0
20230131216771,0,4,1,2,9.125762,0,1,4.562881,1,1,0,0,0
20230131216842,1,3,1,1,10.176411,1,1,10.176411,0,0,0,1,0
20230131216844,0,4,1,8,44.927942,0,2,6.307187,0,0,0,0,1

In [106]:
cj_n_grp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5940 entries, 20230101963244 to 20230131216844
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          5940 non-null   int64
 1   age_grp         5940 non-null   int64
 2   order_date      5940 non-null   int32
 3   total_qty       5940 non-null   int64
 4   total_amt       5940 non-null   float64
 5   event_product   5940 non-null   int32
 6   num_category    5940 non-null   int64
 7   amt/qty         5940 non-null   float64
 8   prime_yn        5940 non-null   int64
 9   most_product_0  5940 non-null   uint8
 10  most_product_1  5940 non-null   uint8
 11  most_product_2  5940 non-null   uint8
 12  most_product_3  5940 non-null   uint8
dtypes: float64(2), int32(2), int64(5), uint8(4)
memory usage: 440.9 KB

In [107]:
# 성별
cj_n_grp['gender'].value_counts()

0    4010
1    1930
Name: gender, dtype: int64

In [108]:
# 나이대
cj_n_grp['age_grp'].value_counts()

4    2716
3    1490
5    1108
2     375
6     243
1       8
Name: age_grp, dtype: int64

In [109]:
# 주문일자
cj_n_grp['order_date'].value_counts()

1    3900
0    2040
Name: order_date, dtype: int64

In [110]:
# 이벤트 할인 제품 총 구매 개수
cj_n_grp['event_product'].value_counts()

0     3000
1     1231
2      391
3      314
4      252
5      214
6      145
7       99
8       91
9       53
10      43
11      29
13      21
12      16
14      11
16       9
18       5
17       4
20       3
19       3
15       3
24       2
22       1
Name: event_product, dtype: int64

In [111]:
# 구매 제품의 카테고리 개수
cj_n_grp['num_category'].value_counts()

1    2239
2    1192
3     984
4     686
5     464
6     235
7     105
8      31
9       4
Name: num_category, dtype: int64

In [112]:
cj_n_grp

,gender,age_grp,order_date,total_qty,total_amt,event_product,num_category,amt/qty,prime_yn,most_product_0,most_product_1,most_product_2,most_product_3
scd,,,,,,,,,,,,,
20230101963244,0,4,0,3,10.234373,0,1,3.411458,1,0,1,0,0
20230101963277,1,3,0,1,9.190036,0,1,9.190036,1,0,0,1,0
20230101963302,0,4,0,17,83.446280,0,7,7.574948,0,0,0,0,1
20230101963319,1,4,0,23,73.452653,0,3,4.093077,0,1,0,0,0
20230101963336,0,3,0,30,119.943496,0,7,6.208069,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20230131216709,0,4,1,6,27.526347,0,2,7.037744,1,1,0,0,0
20230131216756,0,4,1,3,18.314758,0,2,6.796144,0,0,1,0,0
20230131216771,0,4,1,2,9.125762,0,1,4.562881,1,1,0,0,0
20230131216842,1,3,1,1,10.176411,1,1,10.176411,0,0,0,1,0
20230131216844,0,4,1,8,44.927942,0,2,6.307187,0,0,0,0,1

In [113]:
cj_n_grp.to_csv('cj_n_grp.csv')